#chart1,#chart2,#chart3,#chart4,#chart5,#chart6,#chart7,#chart8,#chart9,#chart10,#chart11,#chart12,#chart13 {
	height: 500px;
	min-width: 100px;
	min-height: 100px;
}

* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background:#bfbfbf;

	
}

a:visited{
	color:#434343;
}

a:hover{
	text-decoration: none;
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 25px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 100%;
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;
}


h2 {
	font-size: 24px;
}

p {
	margin: 0 0 15px 0;
}

.menuBtn {
	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;

}

.active {
	background: #05669d;
	font-weight: bold
}
.clear {
	clear: both;
}
.wrap {
		/*background:url(../images/bg.png) top left repeat-x;*/
		width: 100%;
		max-width: 1140px;
		/* min-width: 960px; */
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;
}

.section {
	width: 100%;
	max-width: 1140px;
	/* min-width: 960px; */
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:20px 0;
}


/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 122px;
	height: 50px;
	z-index: 1000;
	width: 100%;
	max-width: 1140px;
	/* min-width: 960px; */
	background: #19abff;

}

.jAtas{
	width:100%;
	height:200px;
	background:white;
	text-align: center;
	padding: 0px 0;
	font-size: 50px;
}

.jBatas{
	width:100%;
	height:6px;
	background: #19abff;
	margin-top:0px;
}

.subMenu a{
	color:white;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
}

.Mobile{
	display:none;
	height: 50px;
	z-index: 1000;
	width: 100%;
	max-width: 1140px;
	/* min-width: 960px; */
	background: #19abff;
}



.subNavBtn {
	display: block;
	height: 50px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 13px;
	padding: 15px 1% 0 1%;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 10px #afafaf;
	transition:0.3s;
}

.subNavBtn:hover{
	background: #0891e0;
}

.end {
	margin: 0;
}


/* SECTIONS */
.logo{
	min-height:200px;
}

.sTop {
	min-height: 180px;
	background:url(../img/subtle_carbon.png);
	color:#3d3d3d;
}



.s1 {
	min-height: 600px;
	background: url(../img/bgnoise_lg.png);
}


.s2 {
	min-height: 600px;
	background: #3f3f3f;
}


.s3 {
	min-height: 600px;
	background: url(../img/exclusive_paper.png);
}


.s4 {
	min-height: 799px;
	/* background: #6e87a1; */
	background: url(../img/climpek.png);
	color: #434343;
}

.s5 {
	min-height: 600px;
	background: #293b4d;
	color: white;
}

.s6 {
	min-height: 600px;
	background: #00a8c6;
	color: white;
}

.s7 {
	min-height: 600px;
	/* background: #d8a800; */
	background: url(../img/stressed.png);
	color: white;
}


#header_logo{
	float:left;
	border-right: 1px solid #4f4f4f;
	padding-right:10px;
	margin-right:10px;
	padding-bottom: 7px;
}

#header_text{
	float:left;
	padding-bottom: 7px;
}

.bh1{
	font-size: 40px;
	width:100%;
	color:white;
}

.bh2{
	font-size:15px;
	color:white;
}

#pinggir_kanan{
	position:absolute;
	background:url(../img/pinggir_kanan_biru.png) no-repeat;
	top:115px;
	right:-15px;
	width:15px;
	height:80px;
	transition:0.6s;
}

#pinggir_kiri{
	position:absolute;
	background:url(../img/pinggir_kiri_biru.png) no-repeat;
	top:115px;
	left:-13px;
	width:15px;
	height:80px;
	transition:0.6s;
}

.blocks{
	display: block;
}

.title{
	min-height:350px;
	background: url(../img/stressed.png);
	color:white;
	text-align: center;
	padding-bottom:10px;
}

.kab_title{
	float:left;
	text-align:left;
	margin-bottom:10px;
}

.kab_login{
	float:right;
	width:40%;
	min-height:180px;
	border: 1px solid #434343;
	background: transparent;
	border-radius: 6px;
	color: white;
	text-align: left;
	font-size: 12px;
}

.lagi{
	margin-left:10px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.button{
	background: #19abff;
	color:white;
	width: 50%;
	transition:0.3s;
}

.button:hover{
	background: #000;
	color: white
}

#footer{
	width:100%;
	background: black;
	color: white;
	text-align: center;
	height:30px;
	padding: 15px 0px 0px 0px;
	margin-top:20px;
	margin-bottom:20px;
}

#item{
  width:460px;
  min-height: 600px;
  border:1px solid #CCCCCC;
  float:left;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  border-radius: 4px;
}

#item_tabel{
  width:620px;
  min-height: 600px;
  border:1px solid #CCCCCC;
  float:left;
  margin-left: 10px;
  /* margin-top: 40px; */
  margin-bottom: 30px;

  border-radius: 4px;
}

#item_tabel_small{
  width:290px;
  min-height: 600px;
  border:1px solid #CCCCCC;
  float:left;
  margin-left: 10px;
  /* margin-top: 40px; */
  margin-bottom: 30px;

  border-radius: 4px;
}

#item_tabel_wide{
  width:97%;
  min-height: 600px;
  border:1px solid #CCCCCC;
  float:left;
  margin-left: 10px;
  /* margin-top: 40px; */
  margin-bottom: 30px;

  border-radius: 4px;
}

h4{
	font-size:18px;
	padding-top:2px;
	padding-bottom: 2px;
	/* background: #0f69ba; */
	background: transparent;
	margin-bottom: 20px;
	color:#434343;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center
}

.login_btn{
	top:6px;
	width:12%;
	height:20px;
	background:#19abff;
	right: 3%;
	z-index: 9999;
	color:white;
	cursor: pointer;
	text-align: center;
	font-weight: none;
	padding-top: 3px;
	border-radius: 0 0 4px 4px;
}



/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 1190px or less */
@media screen and (max-width: 1190px) {
	#pinggir_kiri{
		display:none;
	}

	#pinggir_kanan{
		display:none;
	}

	.wrap{
		width: 100%;
	}

	.subNavBtn{
		width:10%;
	}

	.inner{
		width: 97%;
	}

	#item_tabel{
		width:65%;
	}

	#item_tabel_small{
		width:30%;
	}

	#item{
		width:48%;
	}

}
@media screen and (max-width: 800px) {
	
	#item_tabel{
		width:97%;
	}

	#item_tabel_small{
		width:97%;
	}
}

/* for 700px or less */
@media screen and (max-width: 700px) {

	

	#item{
		width:97%;
	}

}

/* for 600px or less */
@media screen and (max-width: 600px) {

	.bh1{
		font-size: 20px;
		width:100%;
	}

	.sTop{
		height:200px;
	}

	.bh2{
		font-size:15px;
	}

	.subMenu{
		height:100px;
		position:relative;
	}

	.subNavBtn {
		width:23%;
	}

	.Mobile{
		display: block;
		position:absolute;
	}

	.kab_title{
		text-align:center;
		float:none;
	}

	.kab_login{
		width:98%;
	}

}


/* for 480px or less */
@media screen and (max-width: 480px) {

	.wrap{
		width:100%;
	}

	.subMenu{
		width:100%;
	}

}