		#map {
			width: 100%;
			height: 500px;
		}

		.info {
			padding: 6px 8px;
			width : 200px;
			font: 0.80em sans-serif;
			background: rgba(225,65,65,0.85);
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
			border-radius: 2px;
			color: white;
		}
		.info h4 {
			margin: 0 0 5px;
		}

		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
			padding: 5px;
   			font: 0.90em sans-serif;
		}

		.leaflet-container {
		  background-color:#68c1ff;
		  background-position:initial initial;
		  background-repeat:initial initial;
		  outline:#000000;
		}