.container{
	background-color: white;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

a{
	color:#acacac;
}

a:hover{
	color:#c0c0c0;
	text-decoration: none;
}

#clear{
	clear: both;
}

/* ------------------------------------------ */
/* BASIC STRUCTURE */
/* ------------------------------------------ */

#container_wrapper{
	border  	: 1px solid #ccc;
	width 		: 1000px;
	margin 		: auto;
	min-height 	: 400px;
	font-family : 'Open Sans', sans-serif;
	margin-top	: 50px;
}

#menu_wrapper{
	width 		: 100%;
	position	: absolute;
	background 	: url(../img/bg1.png);
	z-index 	: 9999;
	top 		: 0;
}

#header_logo{
	float:left;
	border-right: 1px solid #4f4f4f;
	padding-right:10px;
	margin-right:10px;
	padding-bottom: 7px;
}

#header_text{
	float:left;
	padding-bottom: 7px;
}

.bh1{
	font-size: 30px;
	width:100%;
}

.bh2{
	font-size:15px;
}

#menu{
	height 		: 50px;
	border 		: 0px solid #ccc;
	width 		: 1000px;
	margin  	: auto;
	color 		: #ccc;
}

#header_wrapper{
	width 		: 100%;
	position 	: relative;
	top 		: 50px;
	/* height 		: 450px; */
	background 	: #434343;
}

#header{
	/* height:450px; */
	border: 0px solid #ccc;
	width:1000px;
	margin:auto;	
}

#header_title{
	margin-top: 4px;
}

#menu_header{
	float:right;
	margin-top:0px;
	border-top:1px solid #4f4f4f;	
	border-bottom:1px solid #4f4f4f;	
}

#menu_header li{
	float:left;
	text-decoration: none;
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:45px;
	padding-bottom:10px;
	transition:0.2s;
	cursor: pointer;
}

#menu_header li:hover{
	background:#4f4f4f;
	border-top: 5px solid #ccc;
}

#inner{
	margin:5px;
}

.btn-submit{
	background:#32602f;
	transition:0.8s;
	color: white;
}

.btn-submit:hover{
	background:#8dc63f;
	color: black;
}

#login_wrapper{
	
}

/* ------------------------------------------ */
/* MEDIA QUERY */
/* ------------------------------------------ */

/* for 980px or less */
@media screen and (max-width: 1100px) {

	#container_wrapper{
		width:98%;
	}

	

	#menu{
		width:98%;
	}

	#header{
		width: 98%;
	}

}

/* for 700px or less */
@media screen and (max-width: 850px) {

	#menu_header{
		display: none;
	}

}	

/* for 480px or less */
@media screen and (max-width: 580px) {

	#header_logo{
		border-right: 0px solid #ccc;
	}

	#header_logo{
		padding-left: 20px;
	}

	.bh1{
		padding-left:10px;
	}

	.bh2{
		padding-left: 10px;
	}


}