/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body .cke_dialog {
	visibility:visible;
}
.cke_skin_v2 table.cke_dialog.cke_browser_gecko {
	display:block;
}
.cke_skin_v2 .cke_dialog_body {
	margin-left:16px;
	margin-right:16px;
	margin-top:2px;
	margin-bottom:20px;
	z-index:1;
	_position:static;
}
.cke_skin_v2 .cke_dialog_tl, .cke_skin_v2 .cke_dialog_tr, .cke_skin_v2 .cke_dialog_tc, .cke_skin_v2 .cke_dialog_bl, .cke_skin_v2 .cke_dialog_br, .cke_skin_v2 .cke_dialog_bc {
	background-image:url(images/sprites.png);
	background-repeat:no-repeat;
	position:absolute;
	_background-image:url(images/sprites_ie6.png);
	z-index:-1;
}
.cke_skin_v2 .cke_dialog_tl {
	background-position:-16px -16px;
	height:16px;
	width:16px;
	top:0;
	left:0;
}
.cke_skin_v2 .cke_rtl .cke_dialog_tl {
	background-position:-16px -397px;
}
.cke_skin_v2 .cke_dialog_tr {
	background-position:-16px -76px;
	height:16px;
	width:16px;
	top:0;
	right:0;
}
.cke_skin_v2 .cke_rtl .cke_dialog_tr {
	background-position:-16px -457px;
}
.cke_skin_v2 .cke_dialog_tc {
	background-position:0 -136px;
	background-repeat:repeat-x;
	height:16px;
	top:0;
	left:16px;
	right:16px;
}
.cke_skin_v2 .cke_dialog_bl {
	background-position:-16px -196px;
	height:51px;
	width:30px;
	bottom:0;
	left:0;
}
.cke_skin_v2 .cke_rtl .cke_dialog_bl {
	background-position:-16px -517px;
}
.cke_skin_v2 .cke_dialog_br {
	background-position:-16px -263px;
	height:51px;
	width:30px;
	bottom:0;
	right:0;
}
.cke_skin_v2 .cke_rtl .cke_dialog_br {
	background-position:-16px -584px;
}
.cke_skin_v2 .cke_dialog_bc {
	background-position:0 -330px;
	background-repeat:repeat-x;
	height:51px;
	bottom:0;
	left:30px;
	right:30px;
}
.cke_skin_v2 .cke_dialog_ml, .cke_skin_v2 .cke_dialog_mr {
	background-image:url(images/dialog_sides.png);
	background-repeat:repeat-y;
	position:absolute;
	width:16px;
	top:16px;
	bottom:51px;
	_background-image:url(images/dialog_sides.gif);
	_top:auto;
}
.cke_skin_v2 .cke_rtl .cke_dialog_ml, .cke_skin_v2 .cke_rtl .cke_dialog_mr {
	background-image:url(images/dialog_sides_rtl.png);
	_background-image:url(images/dialog_sides.gif);
}
.cke_skin_v2 .cke_dialog_ml {
	background-position:0 0;
	left:0;
}
.cke_skin_v2 .cke_dialog_mr {
	background-position:-16px 0;
	right:0;
}
.cke_skin_v2 .cke_browser_iequirks .cke_dialog_ml, .cke_skin_v2 .cke_browser_iequirks .cke_dialog_mr {
	margin-top:3px;
}
.cke_skin_v2 .cke_dialog_title {
	font-weight:bold;
	font-size:14pt;
	color:#737357;
	background-color:#e3e3c7;
	padding:3px 10px 26px 10px;
	cursor:move;
	position:relative;
}
.cke_skin_v2 .cke_browser_ie.cke_rtl .cke_dialog_title {
	position:static;
}
.cke_skin_v2 .cke_dialog_contents {
	background-color:#f1f1e3;
	border:#d5d59d 1px solid;
	overflow:auto;
	padding:5px 10px;
}
.cke_skin_v2 .cke_dialog_footer {
	background-color:#e3e3c7;
	text-align:right;
}
.cke_skin_v2 .cke_rtl .cke_dialog_footer {
	text-align:left;
}
.cke_skin_v2 .cke_dialog_footer .cke_resizer {
	margin-top:21px;
}
.cke_skin_v2 .cke_dialog_tabs {
	height:23px;
	background-color:#e3e3c7;
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	margin-top:-23px;
	position:absolute;
	z-index:2;
}
.cke_skin_v2 .cke_rtl .cke_dialog_tabs {
	right:10px;
}
.cke_skin_v2 a.cke_dialog_tab, .cke_skin_v2 a:link.cke_dialog_tab, .cke_skin_v2 a:active.cke_dialog_tab, .cke_skin_v2 a:hover.cke_dialog_tab, .cke_skin_v2 a:visited.cke_dialog_tab {
	color:#737357;
	border-left:1px solid #d5d59d;
	border-right:1px solid #d5d59d;
	border-top:1px solid #d5d59d;
	height:14px;
	padding:4px 5px;
	display:inline-block;
	cursor:pointer;
}
.cke_skin_v2 .cke_browser_gecko18 a.cke_dialog_tab, .cke_skin_v2 .cke_browser_gecko18 a:link.cke_dialog_tab, .cke_skin_v2 .cke_browser_gecko18 a:active.cke_dialog_tab, .cke_skin_v2 .cke_browser_gecko18 a:hover.cke_dialog_tab, .cke_skin_v2 .cke_browser_gecko18 a:visited.cke_dialog_tab {
	display:inline;
	position:relative;
	top:6px;
}
.cke_skin_v2 a:hover.cke_dialog_tab {
	background-color:#f1f1e3;
}
.cke_skin_v2 .cke_hc a:hover.cke_dialog_tab {
	padding:2px 3px!important;
	border-width:3px;
}
.cke_skin_v2 a.cke_dialog_tab_selected, .cke_skin_v2 a:link.cke_dialog_tab_selected, .cke_skin_v2 a:active.cke_dialog_tab_selected, .cke_skin_v2 a:hover.cke_dialog_tab_selected, .cke_skin_v2 a:visited.cke_dialog_tab_selected {
	border-bottom:1px solid #f1f1e3;
	background-color:#f1f1e3;
	font-weight:bold;
	cursor:default;
}
.cke_skin_v2 .cke_hc a.cke_dialog_tab_selected, .cke_skin_v2 .cke_hc a:link.cke_dialog_tab_selected, .cke_skin_v2 .cke_hc a:active.cke_dialog_tab_selected, .cke_skin_v2 .cke_hc a:hover.cke_dialog_tab_selected, .cke_skin_v2 .cke_hc a:visited.cke_dialog_tab_selected {
	padding:2px 3px!important;
	border-width:3px;
}
.cke_skin_v2 .cke_hc .cke_dialog_tabs a, .cke_skin_v2 .cke_hc .cke_dialog_footer a {
	opacity:1.0;
	filter:alpha(opacity=100);
	border:1px solid white;
}
.cke_skin_v2 .cke_single_page .cke_dialog_tabs {
	display:none;
}
.cke_skin_v2 .cke_single_page .cke_dialog_title {
	padding-bottom:3px;
}
.cke_skin_v2 .cke_dialog_ui_vbox table, .cke_skin_v2 .cke_dialog_ui_hbox table {
	margin:auto;
}
.cke_skin_v2 .cke_dialog_ui_vbox_child {
	padding:5px 0;
}
.cke_skin_v2 input.cke_dialog_ui_input_text, .cke_skin_v2 input.cke_dialog_ui_input_password {
	background-color:white;
	border:none;
	padding:0;
	width:100%;
	height:14px;
}
.cke_skin_v2 .cke_browser_gecko.cke_hc div.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_gecko.cke_hc div.cke_dialog_ui_input_password {
	border-width:0;
}
.cke_skin_v2 .cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_password {
	border-width:1px;
}
.cke_skin_v2 .cke_browser_ie.cke_rtl input.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_opera.cke_rtl input.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_ie.cke_rtl input.cke_dialog_ui_input_password, .cke_skin_v2 .cke_browser_opera.cke_rtl input.cke_dialog_ui_input_password {
	padding-right:2px;
}
.cke_skin_v2 .cke_browser_ie.cke_rtl div.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_opera.cke_rtl div.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_ie.cke_rtl div.cke_dialog_ui_input_password, .cke_skin_v2 .cke_browser_opera.cke_rtl div.cke_dialog_ui_input_password {
	padding-left:2px;
}
.cke_skin_v2 .cke_browser_ie.cke_rtl .cke_dialog_ui_vbox_child, .cke_skin_v2 .cke_browser_ie.cke_rtl .cke_dialog_ui_hbox_child, .cke_skin_v2 .cke_browser_ie.cke_rtl .cke_dialog_ui_hbox_first, .cke_skin_v2 .cke_browser_ie.cke_rtl .cke_dialog_ui_hbox_last {
	padding-right:2px!important;
}
.cke_skin_v2 div.cke_dialog_ui_input_text, .cke_skin_v2 div.cke_dialog_ui_input_password {
	background-color:white;
	border:1px solid #a0a0a0;
	padding:1px 0;
	_width:99.9%;
}
.cke_skin_v2 .cke_browser_ie7 input.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_ie7 input.cke_dialog_ui_input_password {
	position:absolute;
}
.cke_skin_v2 .cke_browser_ie7 div.cke_dialog_ui_input_text, .cke_skin_v2 .cke_browser_ie7 div.cke_dialog_ui_input_password {
	height:14px;
	position:relative;
}
.cke_skin_v2 .cke_browser_ie.cke_rtl div.cke_dialog_ui_input_text {
	padding-right:1px;
}
.cke_skin_v2 textarea.cke_dialog_ui_input_textarea {
	background-color:white;
	border:none;
	padding:0;
	width:100%;
	_width:99%;
	overflow:auto;
	resize:none;
}
.cke_skin_v2 div.cke_dialog_ui_input_textarea {
	background-color:white;
	border:1px solid #a0a0a0;
	padding:1px 0;
}
.cke_skin_v2 .cke_rtl .cke_dialog_ui_labeled_content {
	_width:95%;
}
.cke_skin_v2 div.cke_disabled .cke_dialog_ui_labeled_content * {
	background-color:#a0a0a0;
	cursor:default;
}
.cke_skin_v2 .cke_dialog_ui_hbox {
	width:100%;
}
.cke_skin_v2 .cke_dialog_ui_hbox_first, .cke_skin_v2 .cke_dialog_ui_hbox_child, .cke_skin_v2 .cke_dialog_ui_hbox_last {
	vertical-align:top;
}
.cke_skin_v2 .cke_ltr .cke_dialog_ui_hbox_first, .cke_skin_v2 .cke_ltr .cke_dialog_ui_hbox_child {
	padding-right:10px;
}
.cke_skin_v2 .cke_rtl .cke_dialog_ui_hbox_first, .cke_skin_v2 .cke_rtl .cke_dialog_ui_hbox_child {
	padding-left:10px;
}
.cke_skin_v2 a.cke_dialog_ui_button {
	border-collapse:separate;
	cursor:default;
}
.cke_skin_v2 a.cke_dialog_ui_button_ok span, .cke_skin_v2 a.cke_dialog_ui_button_cancel span {
	width:60px;
}
.cke_skin_v2 span.cke_dialog_ui_button {
	border:#737357 1px solid;
	padding:2px 10px;
	text-align:center;
	color:#3b3b1f;
	background-color:#c7c78f;
	display:inline-block;
	cursor:default;
}
.cke_skin_v2 .cke_browser_gecko18 .cke_dialog_footer_buttons span.cke_dialog_ui_button {
	display:block;
}
.cke_skin_v2 a.cke_dialog_ui_button span.cke_disabled {
	border:#898980 1px solid;
	color:#5e5e55;
	background-color:#c5c5b3;
}
.cke_skin_v2 a:focus span.cke_dialog_ui_button, .cke_skin_v2 a:active span.cke_dialog_ui_button {
	background-color:#e3e3c7;
}
.cke_skin_v2 .cke_hc a:focus span.cke_dialog_ui_button, .cke_skin_v2 .cke_hc a:active span.cke_dialog_ui_button {
	border-width:2px;
}
.cke_skin_v2 .cke_dialog_footer_buttons {
	display:inline-table;
	margin-right:12px;
	margin-left:12px;
	width:auto;
	position:relative;
}
.cke_skin_v2 .cke_browser_gecko18 .cke_dialog_footer_buttons {
	display:inline;
}
.cke_skin_v2 .cke_dialog_footer_buttons span.cke_dialog_ui_button {
	margin:7px 0;
}
.cke_skin_v2 .cke_browser_ie7 .cke_dialog_footer_buttons {
	position:static;
}
.cke_skin_v2 strong {
	font-weight:bold;
}
.cke_skin_v2 a.cke_dialog_close_button, .cke_skin_v2 a:hover.cke_dialog_close_button, .cke_skin_v2 .cke_browser_ie6 a.cke_dialog_close_button, .cke_skin_v2 .cke_browser_ie6 a:hover.cke_dialog_close_button {
	background-image:url(images/sprites.png);
	background-repeat:no-repeat;
	background-position:-16px -651px;
	position:absolute;
	cursor:pointer;
	text-align:center;
	height:20px;
	width:20px;
	top:5px;
	_background-image:url(images/sprites_ie6.png);
}
.cke_skin_v2 a.cke_dialog_close_button span {
	display:none;
}
.cke_skin_v2 a:hover.cke_dialog_close_button {
	background-position:-16px -687px;
}
.cke_skin_v2 .cke_ltr a.cke_dialog_close_button, .cke_skin_v2 .cke_ltr a:hover.cke_dialog_close_button {
	right:22px;
}
.cke_skin_v2 .cke_rtl a.cke_dialog_close_button, .cke_skin_v2 .cke_rtl a:hover.cke_dialog_close_button {
	left:16px;
	_top:7px;
}
.cke_skin_v2 .cke_browser_ie6.cke_rtl a.cke_dialog_close_button, .cke_skin_v2 .cke_browser_ie6.cke_rtl a:hover.cke_dialog_close_button {
	position:relative;
	float:left;
	margin-top:-55px;
	margin-left:-7px;
}
.cke_skin_v2 .cke_browser_iequirks.cke_rtl.cke_single_page a.cke_dialog_close_button, .cke_skin_v2 .cke_browser_iequirks.cke_rtl.cke_single_page a:hover.cke_dialog_close_button {
	margin-top:-32px;
}
.cke_skin_v2 .cke_browser_iequirks.cke_ltr a.cke_dialog_close_button, .cke_skin_v2 .cke_browser_iequirks.cke_ltr a:hover.cke_dialog_close_button {
	margin-top:0;
}
.cke_skin_v2 .cke_dialog_ui_input_select {
	border:1px solid #a0a0a0;
	background-color:white;
}
.cke_skin_v2 .cke_dialog_ui_input_file {
	width:100%;
	height:25px;
}
.cke_skin_v2 .cke_dialog .cke_dark_background {
	background-color:#eaead1;
}
.cke_skin_v2 .cke_dialog .cke_hand {
	cursor:pointer;
}
.cke_skin_v2 .cke_dialog .cke_centered {
	text-align:center;
}
.cke_skin_v2 .cke_dialog a.cke_btn_reset {
	float:right;
	background-position:0 -32px;
	background-image:url(images/mini.gif);
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	border:1px none;
	font-size:1px;
}
.cke_skin_v2 .cke_rtl .cke_dialog a.cke_btn_reset {
	float:left;
}
.cke_skin_v2 .cke_dialog a.cke_btn_locked, .cke_skin_v2 .cke_dialog a.cke_btn_unlocked {
	float:left;
	background-position:0 0;
	background-image:url(images/mini.gif);
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	border:none 1px;
	font-size:1px;
}
.cke_skin_v2 .cke_dialog a.cke_btn_locked .cke_icon {
	display:none;
}
.cke_skin_v2 .cke_rtl .cke_dialog a.cke_btn_locked, .cke_skin_v2 .cke_rtl .cke_dialog a.cke_btn_unlocked {
	float:right;
}
.cke_skin_v2 .cke_dialog a.cke_btn_unlocked {
	background-position:0 -16px;
	background-image:url(images/mini.gif);
}
.cke_skin_v2 .cke_dialog .cke_btn_over {
	border:outset 1px;
	cursor:pointer;
}
.cke_skin_v2 .cke_dialog .ImagePreviewBox {
	border:2px ridge black;
	overflow:scroll;
	height:210px;
	width:230px;
	padding:2px;
	background-color:white;
}
.cke_skin_v2 .cke_dialog .ImagePreviewBox table td {
	white-space:normal;
}
.cke_skin_v2 .cke_browser_iequirks .cke_dialog_page_contents {
	_position:absolute;
}
.cke_skin_v2 .cke_dialog .ImagePreviewLoader {
	position:absolute;
	white-space:normal;
	overflow:hidden;
	height:160px;
	width:230px;
	margin:2px;
	padding:2px;
	opacity:.9;
	filter:alpha(opacity=90);
	background-color:#e4e4e4;
}
.cke_skin_v2 .cke_dialog .FlashPreviewBox {
	white-space:normal;
	border:2px ridge black;
	overflow:auto;
	height:160px;
	width:390px;
	padding:2px;
	background-color:white;
}
.cke_skin_v2 .cke_dialog .cke_pastetext {
	width:346px;
	height:170px;
}
.cke_skin_v2 .cke_dialog .cke_pastetext textarea {
	width:340px;
	height:170px;
	resize:none;
}
.cke_skin_v2 .cke_dialog iframe.cke_pasteframe {
	width:346px;
	height:130px;
	background-color:white;
	border:1px solid black;
}
.cke_skin_v2 .cke_dialog .cke_dark_background {
	text-align:center;
	background-color:#eaead1;
	font-size:14px;
}
.cke_skin_v2 .cke_dialog .cke_light_background {
	text-align:center;
	background-color:#ffffbe;
}
.cke_skin_v2 .cke_dialog .cke_hand {
	cursor:pointer;
}
.cke_skin_v2 .cke_disabled {
	color:#a0a0a0;
}
.cke_skin_v2 .cke_hc .cke_dialog_title, .cke_skin_v2 .cke_hc .cke_dialog_tabs, .cke_skin_v2 .cke_hc .cke_dialog_contents, .cke_skin_v2 .cke_hc .cke_dialog_footer {
	border-left:1px solid;
	border-right:1px solid;
}
.cke_skin_v2 .cke_hc .cke_dialog_title {
	border-top:1px solid;
}
.cke_skin_v2 .cke_hc .cke_dialog_footer {
	border-bottom:1px solid;
}
.cke_skin_v2 .cke_hc .cke_dialog_close_button span {
	display:inline;
	cursor:pointer;
	font-weight:bold;
	position:relative;
	top:3px;
}
.cke_skin_v2 .cke_dialog_body .cke_label {
	display:none;
}
.cke_skin_v2 .cke_dialog_body label.cke_required {
	font-weight:bold;
}
.cke_skin_v2 .cke_hc .cke_dialog_body .cke_label {
	display:inline;
	cursor:inherit;
}
.cke_skin_v2 .cke_hc a.cke_btn_locked, .cke_skin_v2 .cke_hc a.cke_btn_unlocked, .cke_skin_v2 .cke_hc a.cke_btn_reset {
	border-style:solid;
	float:left;
	width:auto;
	height:auto;
	padding:0 2px;
}
.cke_skin_v2 .cke_hc a.cke_btn_locked .cke_icon {
	display:inline;
}
.cke_skin_v2 .cke_rtl.cke_hc a.cke_btn_locked, .cke_skin_v2 .cke_rtl.cke_hc a.cke_btn_unlocked, .cke_skin_v2 .cke_rtl.cke_hc a.cke_btn_reset {
	float:right;
}
.cke_skin_v2 a.cke_smile img {
	border:2px solid #eaead1;
}
.cke_skin_v2 a.cke_smile:focus img, .cke_skin_v2 a.cke_smile:active img, .cke_skin_v2 a.cke_smile:hover img {
	border-color:#C7C78F;
}
.cke_skin_v2 .cke_dialog_contents a.colorChooser {
	display:block;
	margin-top:12px;
	margin-left:10px;
	width:40px;
}
.cke_skin_v2 .cke_dialog_contents a.colorChooser .cke_dialog_ui_button {
	width:100%;
}
.cke_skin_v2 .cke_rtl .cke_dialog_contents a.colorChooser {
	margin-right:10px;
}
.cke_skin_v2 .cke_browser_gecko .cke_dialog_ui_checkbox_input:focus, .cke_skin_v2 .cke_browser_gecko .cke_dialog_ui_radio_input:focus, .cke_skin_v2 .cke_browser_opera .cke_dialog_ui_checkbox_input:focus, .cke_skin_v2 .cke_browser_opera .cke_dialog_ui_radio_input:focus, .cke_skin_v2 .cke_browser_gecko .cke_dialog_ui_input_select:focus, .cke_skin_v2 .cke_browser_gecko .cke_btn_over, .cke_skin_v2 .cke_browser_opera .cke_btn_over, .cke_skin_v2 .cke_browser_ie .cke_btn_over {
	outline:1px dotted #696969;
}
.cke_skin_v2 .cke_browser_ie .cke_dialog_ui_checkbox_input, .cke_skin_v2 .cke_browser_ie .cke_dialog_ui_ratio_input, .cke_skin_v2 .cke_browser_ie .cke_btn_reset, .cke_skin_v2 .cke_browser_ie .cke_btn_locked, .cke_skin_v2 .cke_browser_ie .cke_btn_unlocked {
*border:1px solid transparent!important;
	-border:1px solid red!important;
	-filter:chroma(color=red);
}
.cke_skin_v2 .cke_browser_ie .cke_dialog_ui_focused, .cke_skin_v2 .cke_browser_ie .cke_btn_over {
*border:1px dotted #696969!important;
}
.cke_skin_v2 .cke_iframe_shim {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:alpha(opacity=0);
	width:100%;
	height:100%;
}
.cke_dialog label {
	display:inline;
	margin-bottom:auto;
	cursor:default;
}
