<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<h1 id="navbar">Berita</h1>
		<hr>
		<table class="table table-striped table-hover" id="berita_tabel" style="font-size:12px">
            
            <tbody>
            </tbody>
        </table>

	</div>
</div>
<script type="text/javascript">

	$('#berita_tabel').dataTable({
	    "bProcessing": true,
	    "bAutoWidth": true,
	    "paging":   false,
        "ordering": false,
        "info":     false,
	    "pagingType": "full_numbers",
	    "sAjaxSource": "{{konektor}}report/getBeritaAll",
	    "aoColumnDefs": [
	        { "sClass": "text-left", "aTargets": [ 0 ] }
	    ],
	    "aoColumns": [
	        { "mDataProp": "berita" }
	    ]
	});
	/*
	var isinya = 'Menampilkan&nbsp;<select name="berita_tabel_length" size="1" aria-controls="berita_tabel">' +
				'<option value="10" selected="selected">10</option>' +
				'<option value="1">1</option>' +
				'<option value="25">25</option>' +
				'<option value="50">50</option>' +
				'<option value="100">100</option>' +
				'</select>' +
				'&nbsp;Berita';

	$('#berita_tabel_length').html(isinya);
	*/

</script>