<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		

		<ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li><a href="../datapokok">Data Pokok Pendidikan</a></li>
            <li class="active sekolah"></li>
        </ul>

		<h1 id="navbar"><span class='icon'>&#61469</span> <span class="judul_sekolah"></span></h1>
		<h3 id="navbar"><span class="semester_terakhir"></span></h3>
		<br>
      	<div class="form-group" style="width:50%">
	      	<label for="select" class="col-lg-4 control-label" style="font-size:16px"><span class='icon'>&#61555</span> Ganti Semester: </label>
	      	<div class="col-lg-8">
		    	<select class="form-control" id="selectSemester">
		      		<option>1</option>
		      		
		    	</select>
	    	</div>
    	</div>
    	<div class="clear"></div>
		<br>
		<div id="isi_data_sekolah">
			<div class="col_half_left">

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Profil Sekolah</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_profil" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>
				  	
				  	<hr>
				    
				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>NPSN</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="npsn"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Status Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="status"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Bentuk Pendidikan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="bentuk_pendidikan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Alamat</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="alamat_jalan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>RT / RW</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="rt"></span> / <span class="rw"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Dusun</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nama_dusun"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Desa / Kelurahan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="desa_kelurahan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kecamatan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kecamatan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kabupaten</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kabupaten"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Propinsi</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="propinsi"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kode Pos</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kode_pos"></span></div>
					  	<div class="clear"></div>
					</div>

					<hr>
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Lintang</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="lintang"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Bujur</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="bujur"></span></div>
					  	<div class="clear"></div>
					</div>
					
					<hr>
					
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Website</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="website"></span></div>
					  	<div class="clear"></div>
					</div>

					

					<hr>

				  </div>
				</div>

				<br>

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Dokumen dan Perijinan</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">


				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>SK Pendirian Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sk_pendirian_sekolah"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Tanggal SK Pendirian</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tanggal_sk_pendirian"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Status Kepemilikan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="status_kepemilikan_id_str"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>SK Izin Opeasional</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sk_izin_operasional"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Tanggal SK Izin Operasional</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tanggal_sk_izin_operasional"></span></div>
					  	<div class="clear"></div>
					</div>

				  </div>
				</div>

			</div>
			<div class="col_half_right">

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">PTK</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_ptk" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Total PTK</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_ptk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Guru</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_guru"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Tenaga Administrasi Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_administrasi"></span></div>
					  	<div class="clear"></div>
					</div>
					<hr>
					<i style='font-size:12px'>Data Rekap Per Tanggal <span class="hari_ini"></span></i>
				  </div>
				</div>

				<!-- <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Peserta Didik yang Telah Terdaftar</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_pd_total" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Total PD</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_total"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Laki-laki</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_lk_total"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Perempuan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_pr_total"></span></div>
					  	<div class="clear"></div>
					</div>
					<hr>
					<span class="jumlah_rombel"></span>
					
				</div>
				</div> -->

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Peserta Didik</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_pd" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Total PD</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Laki-laki</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_lk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Perempuan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_pr"></span></div>
					  	<div class="clear"></div>
					</div>
					<hr>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas X</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_x"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas XI</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_xi"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas XII</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_xii"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas XIII</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_xiii"></span></div>
					  	<div class="clear"></div>
					</div>
					<span class="jumlah_rombel"></span>
					<hr>
					<i style='font-size:12px'>Data Rekap Per Tanggal <span class="hari_ini"></span></i>
				  </div>
				</div>

				<div class="panel panel-success">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Log Sinkronisasi</h3>
				  	</div>
				  	<div class="panel-body" style="font-size:14px">
				  		<div class="loading_sinkron" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
							<img src="../../assets/img/loading8.gif" width="10%"/><br>
							Memuat data  ...
						</div>

						<div class="form-group">
					  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Sinkronisasi Terakhir</b></div>
					  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
					  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sinkron_terakhir"></span></div>
						  	<div class="clear"></div>
						</div>
					</div>
				</div>

				<div class="panel panel-success">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Data Rinci Sekolah</h3>
				  	</div>
				  	<div class="panel-body" style="font-size:14px">
				  		<div class="loading_sl" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
							<img src="../../assets/img/loading8.gif" width="10%"/><br>
							Memuat data  ...
						</div>

						<div class="form-group">
					  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Bersedia Menerima BOS?</b></div>
					  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
					  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="partisipasi_bos"></span></div>
						  	<div class="clear"></div>
						</div>

						<div class="form-group">
					  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Waktu Penyelenggaraan</b></div>
					  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
					  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="waktu_penyelenggaraan_id_str"></span></div>
						  	<div class="clear"></div>
						</div>
					</div>
				</div>


			</div>
			<div class="clear"></div>

		</div>

	</div>
</div>
<input type="hidden" value="{{konektor}}" class="konektor">
<input type="hidden" value="{{sekolah_id}}" class="sekolah_id">
<script type="text/javascript" src="{{konektor}}assets/js/modules/dataSekolah.js"></script>