<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li class="active">Data Pokok Pendidikan</li>
        </ul>

		<h1 id="navbar"><span class='icon'>&#61469</span> Data Pokok</h1>

		<div class=" left_col11">
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title">Kriteria</h3>
			  </div>
			  <div class="panel-body" style="padding:20px">
			  	<form class="form-horizontal">
  					<fieldset>
  						<div class="form-group">
						  <label class="control-label" for="focusedInput">Kata Kunci Pencarian</label>
						  <input class="form-control" id="keyword_sekolah" name="keyword_sekolah" placeholder="Ketik Nama Sekolah" type="text">
						  
						</div>

					  	<div class="form-group">
						  <label class="control-label" for="focusedInput">Bentuk Pendidikan</label>
						  <select class="form-control" id="bentuk_pendidikan">
					          <option value="0">Tampilkan Semua</option>
					          <option value="13">SMA</option>
					          <option value="15">SMK</option>
					          <option value="14">SMLB</option>
					      </select>
						</div>

						<div class="form-group">
						  <label class="control-label" for="focusedInput">Status</label>
						  <select class="form-control" id="status">
					          <option value="0">Tampilkan Semua</option>
					          <option value="1">Negeri</option>
					          <option value="2">Swasta</option>
					          
					      </select>
						</div>

						<div class="form-group diss">
						  <label class="control-label" for="focusedInput">Paket Keahlian</label>
						  <select class="form-control" id="paketkeahlian">
					          <option value="0">Pilih Paket Keahlian</option>
					      </select>
						</div>

						<div class="form-group">
						  <label class="control-label" for="focusedInput">Propinsi</label>
						  <select class="form-control" id="propinsi">
					          <option value="0">Pilih propinsi</option>
					      </select>
						</div>

						<div class="form-group">
						  <label class="control-label" for="focusedInput">Kabupaten / Kota</label>
						  <select class="form-control" id="kabkota">
					          <option value="0">Pilih Kabupaten / Kota</option>
					      </select>
						</div>

						<div class="form-group">
						  <label class="control-label" for="focusedInput">Kecamatan</label>
						  <select class="form-control" id="kecamatan">
					          <option value="0">Pilih Kecamatan</option>
					      </select>
						</div>
						<hr>
						<div class="form-group">
						  <button type="button" class="btn btn-success btn-lg btn-block" id="tampilkan_hasil">Tampilkan</button>
						</div>


						
					</fieldset>
				</form>
			  </div>
			</div>

		</div>
		<div class="right_col21">
			
			<div class="panel panel-default"  style="min-height:100px">
			  <div class="panel-heading">
			    <h3 class="panel-title">Rekap hasil</h3>
			  </div>
			  <div class="panel-body" id="rekap">
			  	<div style="width:80%;margin:auto;text-align:center">Silakan memilih kriteria untuk menampilkan rekap</div>
			  </div>
			</div>

			<div class="panel panel-success"  style="min-height:550px">
			  <div class="panel-heading">
			    <h3 class="panel-title">Daftar</h3>
			  </div>
			  <div class="panel-body">
			  	<a class="list-group-item ">
					<div style="float:left;width:10%"><b>Nomor</b></div>
				    <div style="float:left;width:30%"><b>Nama Sekolah</b></div>
				    <div style="float:left;width:20%"><b>Status Sekolah</b></div>
				    <div style="float:left;width:30%;"><b>Alamat</b></div>
				    <div style="float:left;width:10%;"><b>Telepon</b></div>
				    <div class="clear"></div>
				</a>
			  	<div id="hasil">
			  		<div style="width:80%;margin:auto;text-align:center">Silakan memilih kriteria untuk menampilkan daftar</div>
			  	</div>
			  </div>
			</div>


		</div>
		<div class="clear"></div>

	</div>
</div>
<script type="text/javascript">
$('html, body').animate({scrollTop: '0px'}, 800);

$(document).ready(function(){


	var end = false;
	var offset = 0;

	$.ajax({
        type: "GET",
        url: "{{konektor}}rest/propinsi",
        success: function(isi){
        
        	$('#propinsi').fadeIn('fast','',function(){
        		$('#propinsi').html(isi);
        		//$('#loading').fadeOut('normal');
        	});
        },
        error: function(){
        	$('#propinsi').fadeIn('fast','',function(){
        		$('#propinsi').html("<option value='0'>Data Tidak Ditemukan</option>");
        	});
        }
    });

    $( "#propinsi" ).change(function () {
    	$('#kabkota').prop('selectedIndex',0);
    	$('#kecamatan').prop('selectedIndex',0);

		var str = $( "#propinsi option:selected" ).val();

		if(str != 0){

			$.ajax({
		        type: "GET",
		        url: "{{konektor}}rest/kabkota/" + str,
		        success: function(isi){
		        
		        	$('#kabkota').fadeIn('fast','',function(){
		        		$('#kabkota').html(isi);
		        		//$('#loading').fadeOut('normal');
		        	});
		        },
		        error: function(){
		        	$('#kabkota').fadeIn('fast','',function(){
		        		$('#kabkota').html("<option value='0'>Data Tidak Ditemukan</option>");
		        	});
		        }
		    });
		}else{
			$('#kabkota').html('<option value="0">Pilih Kabupaten / Kota</option>');
			$('#kecamatan').html('<option value="0">Pilih Kecamatan</option>');
		}

		// console.log(str);
	});

	$( "#kabkota" ).change(function () {
		var str = $( "#kabkota option:selected" ).val();

		// console.log(str);

		$.ajax({
	        type: "GET",
	        url: "{{konektor}}rest/kecamatan/" + str,
	        success: function(isi){
	        
	        	$('#kecamatan').fadeIn('fast','',function(){
	        		$('#kecamatan').html(isi);
	        		//$('#loading').fadeOut('normal');
	        	});
	        },
	        error: function(){
	        	$('#kecamatan').fadeIn('fast','',function(){
	        		$('#kecamatan').html("<option value='0'>Data Tidak Ditemukan</option>");
	        	});
	        }
	    });


		
	});

	$( "#bentuk_pendidikan" ).change(function () {
		var str = $( "#bentuk_pendidikan option:selected" ).val();

		// console.log(str);
		if(str == 13 || str ==14 || str == 15){

			$('.diss').show();

			if(str == 13){
				$('.diss label').html('Program Pengajaran');
			}else if(str == 14){
				$('.diss label').html('Jenis Ketunaan');
			}else if(str == 15){
				$('.diss label').html('Paket Keahlian');
			}
			

			$.ajax({
		        type: "GET",
		        url: "{{konektor}}rest/paketkeahlian/" + str,
		        success: function(isi){
		        
		        	$('#paketkeahlian').fadeIn('fast','',function(){
		        		$('#paketkeahlian').html(isi);
		        		//$('#loading').fadeOut('normal');
		        	});
		        },
		        error: function(){
		        	$('#paketkeahlian').fadeIn('fast','',function(){
		        		$('#paketkeahlian').html("<option value='0'>Data Tidak Ditemukan</option>");
		        	});
		        }
		    });
		
		}else{
			$('.diss').hide();
			$('#paketkeahlian').prop('selectedIndex',0);
		}
	});
	// .change();

	$("#tampilkan_hasil" ).click(function() {

		var loading = '<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div>' +
					'<div style="width:80%;margin:auto;text-align:center">Mohon Tunggu Beberapa Saat. Sistem sedang Memproses Data...</div>';

		$('#hasil').fadeIn('fast','',function(){
    		$('#hasil').html(loading);
    	});

    	$('#rekap').fadeIn('fast','',function(){
    		$('#rekap').html(loading);
    	});

		offset = 0;
		end = false;
		
		var bentuk_pendidikan = $('#bentuk_pendidikan').val();
		var status = $('#status').val();
		var paket_keahlian = $('#paketkeahlian').val();
		var propinsi = $('#propinsi').val();
		var kabkota = $('#kabkota').val();
		var kecamatan = $('#kecamatan').val();
		var keyword = $('#keyword_sekolah').val();

		// alert('bentuk pendidikan: ' + bentuk_pendidikan + '<br>' + status + paket_keahlian + propinsi + kabkota + kecamatan);

		$.ajax({
	        type: "GET",
	        data: {
	        	bentuk_pendidikan: bentuk_pendidikan,
	        	status: status,
	        	paket_keahlian: $('#paketkeahlian').val(),
	        	propinsi: propinsi,
	        	kabkota: kabkota,
	        	kecamatan: kecamatan,
	        	offset: offset,
	        	keyword_sekolah: keyword
	        },
	        url: "{{konektor}}rest/tampilkanhasil",
	        success: function(isi){
	        
	        	$('#hasil').fadeIn('fast','',function(){
	        		$('#hasil').html(isi);

	        		offset = parseInt(offset) + 50;
	        		
	        	});
	        },
	        error: function(){
	        	$('#hasil').fadeIn('fast','',function(){
	        		$('#hasil').html("<option value='0'>Data Tidak Ditemukan</option>");
	        	});
	        }
	    });

	    $.ajax({
	        type: "GET",
	        data: {
	        	bentuk_pendidikan: bentuk_pendidikan,
	        	status: status,
	        	paket_keahlian: paket_keahlian,
	        	propinsi: propinsi,
	        	kabkota: kabkota,
	        	kecamatan: kecamatan,
	        	offset: offset,
	        	keyword_sekolah: keyword
	        },
	        url: "{{konektor}}rest/hitungtotal",
	        success: function(isi){
	        
	        	$('#rekap').fadeIn('fast','',function(){
	        		$('#rekap').html(isi);
	        		
	        	});
	        },
	        error: function(){
	        	$('#rekap').fadeIn('fast','',function(){
	        		$('#rekap').html("<option value='0'>Data Tidak Ditemukan</option>");
	        	});
	        }
	    });

	});

	$(window).scroll(function() {
		   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		       //alert(offset);
		       if(offset != 0){

		       		if(end ==  false){
			       		//$(".list-kab").append('<a class="list-group-item load-list" style="text-align:center">Memuat Daftar...</a>');
			       		var bentuk_pendidikan = $('#bentuk_pendidikan').val();
						var status = $('#status').val();
						var paket_keahlian = $('#paketkeahlian').val();
						var propinsi = $('#propinsi').val();
						var kabkota = $('#kabkota').val();
						var kecamatan = $('#kecamatan').val();
						var keyword = $('#keyword_sekolah').val();

			       		$.ajax({
					        type: "GET",
					        data: {
					        	bentuk_pendidikan: bentuk_pendidikan,
					        	status: status,
					        	paket_keahlian: paket_keahlian,
					        	propinsi: propinsi,
					        	kabkota: kabkota,
					        	kecamatan: kecamatan,
					        	offset: offset,
					        	keyword_sekolah: keyword
					        },
					        url: "{{konektor}}rest/tampilkanhasil",
					        success: function(isi){
					        
					        	$('.load-list').remove();

				            	if(isi != '<a class="list-group-item load-list" style="text-align:center"><b>Akhir dari Daftar</b></a>'){
				            		$("#hasil").append(isi); 

					            	offset = parseInt(offset) + 50;

					            	console.log(offset);
				            	}else{
				            		$('.load-list').remove();

				            		end = true;

				            		$("#hasil").append('<a class="list-group-item" style="text-align:center"><b>Akhir dari Daftar</b></a>'); 
				            	}
					        },
					        error: function(){
					        	$('#hasil').fadeIn('fast','',function(){
					        		$('#hasil').html("<option value='0'>Data Tidak Ditemukan</option>");
					        	});
					        }
					    });

			       }

		       }
		       
		       
		       console.log(end);
		   }
		});
});

</script>