<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<ul class="breadcrumb">
                <li><a href="../../">Beranda</a></li>
                <li class="active"><a href="../progres">Progress Pengiriman</a></li>
                <li class="active propinsi"></li>
                <li class="active kota"></li>
                <li class="active kecamatan"></li>
            </ul>

            <div id="ls"></div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

		$.ajax({
                  type: "GET",
                  url: "{{konektor}}report/reportKecDetail/{{kode_wilayah}}",
                  success: function(isi){
                  
                  	$('#ls').fadeIn('fast','',function(){
                  		$('#ls').html(isi);
                  		//$('#loading').fadeOut('normal');
                  	});
                  },
                  error: function(){
                  	$('#ls').fadeIn('fast','',function(){
                  		$('#ls').load('report/reportProp');
                  	});
                  }
            });

            $.ajax({
                  type: "GET",
                  url: "{{konektor}}breadcrumb/reportKec/{{kode_wilayah}}",
                  success: function(isi){

                        var obj = jQuery.parseJSON(isi);
                  
                        $('.propinsi').fadeIn('fast','',function(){
                              $('.propinsi').html('<a href="../detailprop/'+ obj.kode_induk_upper +'">' + obj.induk_upper + '</a>');
                              //$('#loading').fadeOut('normal');
                        });

                        $('.kota').fadeIn('fast','',function(){
                              $('.kota').html('<a href="../detailkab/'+ obj.kode_induk +'">' + obj.induk + '</a>');
                              //$('#loading').fadeOut('normal');
                        });

                         $('.kecamatan').fadeIn('fast','',function(){
                              $('.kecamatan').html(obj.nama);
                              //$('#loading').fadeOut('normal');
                        });
                  }
            });

	});
</script>