<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		

		<ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li><a href="../datapokok">Data Pokok Pendidikan</a></li>
            <li class="sekolahAsal"><a href="../datapokok">...</a></li>
            <li class="active sekolah nama_ptk">...</li>
        </ul>

        <h1 id="navbar"><span class='icon'>&#61469</span> <span class="nama_ptk"></span></h1>
        <hr>
        <div id="isi_data_sekolah">
			<div class="col_half_left">
				
				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Profil PTK</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_profil" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>
				  	
				  	<hr>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>NIK</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nik"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Nama Lengkap</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nama_ptk"></span></div>
					  	<div class="clear"></div>
					</div>
					
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>TTL</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="ttl"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jenis Kelamin</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Alamat</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="alamat"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>RT / RW</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="rtrw"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Dusun</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="dusun"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kecamatan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kecamatan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kabupaten / Kota</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kabkota"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Propinsi</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="propinsi"></span></div>
					  	<div class="clear"></div>
					</div>
					
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kode Pos</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kodepos"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Agama</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="agama"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Status Perkawinan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kawin"></span></div>
					  	<div class="clear"></div>
					</div>

					<hr>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Nomor Telepon</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="telepon"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Nomor HP</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="hp"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Email</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="email"></span></div>
					  	<div class="clear"></div>
					</div>

				  </div>
				</div>

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Data Instansi Induk</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_profil" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>

					<hr>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Nama Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sekolah"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>NPSN</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="npsn"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Status Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="status"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Bentuk Pendidikan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="bentuk_pendidikan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Alamat</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="alamat_jalan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>RT / RW</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="rt"></span> / <span class="rw"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Dusun</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nama_dusun"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Desa / Kelurahan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="desa_kelurahan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kecamatan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kecamatan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kabupaten</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kabupaten"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Propinsi</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="propinsi"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kode Pos</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kode_pos"></span></div>
					  	<div class="clear"></div>
					</div>
				  	
				  	<hr>
				  </div>
				</div>

			</div>
			<div class="col_half_right">
				
				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Data Pengembangan Profesi / Karir</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_profil" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>
				  	
				  	<hr>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>NUPTK</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nuptk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>NIP</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nip"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Status Kepegawaian</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="statuskepegawaian"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jenis PTK</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jenisptk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>SK CPNS</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="skcpns"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Tanggal CPNS</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tanggalcpns"></span></div>
					  	<div class="clear"></div>
					</div>
					
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>SK Pengangkatan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="skpengangkatan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>TMT Pengangkatan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tmtpengangkatan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>TMT PNS</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tmtpns"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Lembaga Pengangkat</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="lembagapengangkat"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Pangkat Golongan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pangkatgolongan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Sumber Gaji</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sumbergaji"></span></div>
					  	<div class="clear"></div>
					</div>

					<hr>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Keahlian Laboratorium</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="keahlianlaboratorium"></span></div>
					  	<div class="clear"></div>
					</div>
					
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Sudah Lisensi Kepala Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sudahlisensikepalasekolah"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Mampu Menangani Kebutuhan Khusus</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Keahlian Braille</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kb"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Keahlian Bahasa Isyarat</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kbi"></span></div>
					  	<div class="clear"></div>
					</div>


				  </div>
				</div>

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Penugasan PTK</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="form-group" style="width:50%">
				  		<span class='icon'>&#61555</span> Ganti Tahun Ajaran: 
				  		<br>
				      	<div>
					    	<select class="form-control" id="selectTa">
					      		<option>1</option>
					    	</select>
				    	</div>
			    	</div>
			    	<div class="clear"></div>
				
				  	<div class="loading_profil penugasan" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>
				  	
				  	<hr>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sekolahterdaftar"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Tahun Ajaran</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="ta"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Nomor Surat Tugas</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nomorsurattugas"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Tanggal Surat Tugas</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tanggalsurattugas"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>TMT Tugas</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tmttugas"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Sekolah Induk</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sekolahinduk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="well well-sm">
					  <h3>Bulan Keaktifan</h3>
					  <div style="text-align:center">
					  		<div class="date_pill jan">
							  	<h4>Jan</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill feb">
							  	<h4>Feb</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill mar">
							  	<h4>Mar</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill apr">
							  	<h4>Apr</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill mei">
							  	<h4>Mei</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill jun">
							  	<h4>Jun</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill jul">
							  	<h4>Jul</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill ags">
							  	<h4>Ags</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill sep">
							  	<h4>Sep</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill okt">
							  	<h4>Okt</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill nov">
							  	<h4>Nov</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="date_pill des">
							  	<h4>Des</h4>
							  	<span class="checklist"></span>
							  </div>
							  <div class="clear"></div>
					  </div>
					  
					</div>

				  </div>
				</div>

			</div>
			<div class="clear"></div>
		</div>
    </div>
</div>
<input type="hidden" value="{{konektor}}" class="konektor">
<input type="hidden" value="{{ptk_id}}" class="ptk_id">
<script type="text/javascript" src="{{konektor}}assets/js/modules/detailPtk.js"></script>