<div class="col21">
    <div style="background:white;padding-bottom:20px">
    	
    	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
    		<div class="isi_berita">
    			<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/><br>Memuat Berita...</div>
    		</div>
    	</div>
    </div>
</div>
<div class="col11">
    <h2>Berita Lain</h2>
</div>
<div class="clear"></div>
<script type="text/javascript">
	$.ajax({
        type: "GET",
        url: "{{konektor}}report/getDetailBerita/{{tanggal}}/{{judul_berita}}",
        success: function(isi){
        
        	$('.isi_berita').fadeIn('fast','',function(){
        		$('.isi_berita').html(isi);
        		//$('#loading').fadeOut('normal');
        	});
        },
        error: function(){
        	$('.isi_berita').fadeIn('fast','',function(){
        		$('.isi_berita').html('Berita Tidak ditemukan');
        	});
        }
    });
</script>