<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
      <ul class="breadcrumb">
        <li><a href="../../">Beranda</a></li>
        <li class="active"><a href="../progres">Progress Pengiriman</a></li>
        <li class="active propinsi">Propinsi</li>
      </ul>
      <div class="form-group" style="width:50%">
        <div class="col-lg-8">
          <select class="form-control" id="selectSemester">
              
          </select>
        </div>
      </div>

		<div id="ls"></div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

    var konektor = '{{konektor}}';

    $.ajax({
        type: "GET",
        url: konektor + "breadcrumb/getsemester",
        success: function(isi){

          var obj = jQuery.parseJSON(isi);

          var optionsSemester = "";

          for (var i = obj.length - 1; i >= 0; i--) {
              optionsSemester += "<option tahun_ajaran='" + obj[i].nama.substring(0,9) + "' value='"+ obj[i].semester_id +"'>" + obj[i].nama + "</option>";
          };

          $('#selectSemester').html(optionsSemester);

        }
    });

    $( "#selectSemester" ).change(function () {

      var str = $( "#selectSemester option:selected" ).val();

      $.ajax({
            type: "GET",
            url: "{{konektor}}report/reportKabPeriodik/{{kode_wilayah}}?semester_id="+str,
            success: function(isi){
            
              $('#ls').fadeIn('fast','',function(){
                $('#ls').html(isi);
                //$('#loading').fadeOut('normal');
              });
            },
            error: function(){
              $('#ls').fadeIn('fast','',function(){
                $('#ls').html('ada kesalahan dalam memuat data');
              });
            }
      });
    });

    $.ajax({
        type: "GET",
        url: konektor + "breadcrumb/getsemesterterakhir",
        success: function(isi){
              
          var obj = jQuery.parseJSON(isi);
          // console.log(isi);
          $.ajax({
                type: "GET",
                url: "{{konektor}}report/reportKabPeriodik/{{kode_wilayah}}?semester_id="+obj.semester_id,
                success: function(isi){
                
                  $('#ls').fadeIn('fast','',function(){
                    $('#ls').html(isi);
                    //$('#loading').fadeOut('normal');
                  });
                },
                error: function(){
                  $('#ls').fadeIn('fast','',function(){
                    $('#ls').load('report/reportProp');
                  });
                }
          });

        }
    });

    $.ajax({
          type: "GET",
          url: "{{konektor}}breadcrumb/reportProp/{{kode_wilayah}}",
          success: function(isi){
          
                $('.propinsi').fadeIn('fast','',function(){
                      $('.propinsi').html(isi);
                      //$('#loading').fadeOut('normal');
                });
          },
          error: function(){
                $('.propinsi').fadeIn('fast','',function(){
                      $('.propinsi').load('report/reportProp');
                });
          }
    });

	});
</script>