<div style="background:white;padding-bottom:20px">
	
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<!--div class="block_koreg">
			<div class="form-group">
			  <label class="control-label">Masukkan Kode Registrasi untuk Melihat Profil Sekolah</label>
			  <div class="input-group">
			    <span class="input-group-addon">></span>
			    <input class="form-control" type="text" name="koreg_validasi" id="koreg_validasi">
			    <span class="input-group-btn">
			      <button class="btn btn-default" type="button" id="btn_koreg">Proses</button>
			    </span>
			  </div>
			</div>
		</div-->
		<!-- <div id="ls"></div> -->
		<h1 id="navbar"><span class='icon'>&#61469</span> <span class="judul_sekolah"></span></h1>
		<h3 id="navbar"><span class="semester_terakhir"></span></h3>
		<br>
      	<div class="form-group" style="width:50%">
	      	<label for="select" class="col-lg-4 control-label"><span class='icon'>&#61555</span> Ganti Semester: </label>
	      	<div class="col-lg-8">
		    	<select class="form-control" id="selectSemester">
		      		
		    	</select>
	    	</div>
    	</div>
    	<div class="clear"></div>
		<br>
		<div id="isi_data_sekolah">
			<div class="col_half_left">

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Profil Sekolah</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_profil" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>
				  	
				  	<hr>
				    
				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>NPSN</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="npsn"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Status Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="status"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Bentuk Pendidikan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="bentuk_pendidikan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Alamat</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="alamat_jalan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>RT / RW</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="rt"></span> / <span class="rw"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Dusun</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nama_dusun"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Desa / Kelurahan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="desa_kelurahan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kecamatan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kecamatan"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kabupaten</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kabupaten"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Propinsi</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="propinsi"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Kode Pos</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="kode_pos"></span></div>
					  	<div class="clear"></div>
					</div>

					<hr>
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Lintang</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="lintang"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Bujur</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="bujur"></span></div>
					  	<div class="clear"></div>
					</div>
					
					<hr>
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Telepon</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nomor_telepon"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Fax</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="nomor_fax"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Website</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="website"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Email</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="email"></span></div>
					  	<div class="clear"></div>
					</div>

					<hr>

				  </div>
				</div>

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Dokumen dan Perijinan</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">


				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>SK Pendirian Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sk_pendirian_sekolah"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Tanggal SK Pendirian</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tanggal_sk_pendirian"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Status Kepemilikan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="status_kepemilikan_id_str"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>SK Izin Opeasional</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sk_izin_operasional"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Tanggal SK Izin Operasional</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="tanggal_sk_izin_operasional"></span></div>
					  	<div class="clear"></div>
					</div>

				  </div>
				</div>

				<div class="panel panel-success">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Log Sinkronisasi</h3>
				  	</div>
				  	<div class="panel-body" style="font-size:14px">
				  		<div class="loading_sinkron" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
							<img src="../../assets/img/loading8.gif" width="10%"/><br>
							Memuat data  ...
						</div>

						<div class="form-group">
					  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Sinkronisasi Terakhir</b></div>
					  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
					  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="sinkron_terakhir"></span></div>
						  	<div class="clear"></div>
						</div>
					</div>
				</div>

			</div>
			<div class="col_half_right">

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">PTK</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_ptk" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Total PTK</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_ptk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Guru</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_guru"></span></div>
					  	<div class="clear"></div>
					</div>

					<!-- <div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Pengawas</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pengawas"></span></div>
					  	<div class="clear"></div>
					</div> -->

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Tenaga Administrasi Sekolah</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_administrasi"></span></div>
					  	<div class="clear"></div>
					</div>
					<hr>
					<i style='font-size:12px'>Data Rekap Per Tanggal <span class="hari_ini"></span></i>
				  
				  </div>
				</div>

				<!-- <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Peserta Didik yang Telah Terdaftar</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_pd_total" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Total PD</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_total"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Laki-laki</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_lk_total"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Perempuan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_pr_total"></span></div>
					  	<div class="clear"></div>
					</div>
					<hr>
					<span class="jumlah_rombel"></span>

				  </div>
				</div> -->

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Peserta Didik</h3>
				  </div>
				  <div class="panel-body" style="font-size:14px">
				  	<div class="loading_pd" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
						<img src="../../assets/img/loading8.gif" width="10%"/><br>
						Memuat data  ...
					</div>

				  	<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah Total PD</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Laki-laki</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_lk"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>Jumlah PD Perempuan</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="jumlah_pd_pr"></span></div>
					  	<div class="clear"></div>
					</div>
					<hr>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas X</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_x"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas XI</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_xi"></span></div>
					  	<div class="clear"></div>
					</div>

					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas XII</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_xii"></span></div>
					  	<div class="clear"></div>
					</div>
					<div class="form-group">
				  		<div style="float:left;width:40%;border:0px solid #ccc"><b>PD Kelas XIII</b></div>
				  		<div style="float:left;width:5%;border:0px solid #ccc">:</div>
				  		<div style="float:left;width:55%;border:0px solid #ccc"><span class="pd_kelas_xiii"></span></div>
					  	<div class="clear"></div>
					</div>
					<span class="jumlah_rombel"></span>
					<hr>
					<i style='font-size:12px'>Data Rekap Per Tanggal <span class="hari_ini"></span></i>
				  
				  </div>
				</div>

				<div id="petaWrap">
		        	<script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCGGhTk1jsFe3ZXDVo_OoF3aSFEWtLMRJc&sensor=true'></script>
			    	<div id="googleMap" style="width:100%;height:300px;"></div>
				</div>

			</div>
			<div class="clear"></div>

		</div>
		<hr>

		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li class="active"><a href="#ptk" data-toggle="tab"><span class='icon'>&#61447</span> PTK</a></li>
            <li><a href="#pd" data-toggle="tab"><span class='icon'>&#61720</span> Peserta Didik</a></li>
            <li><a href="#rombel" data-toggle="tab"><span class='icon'>&#61632</span> Rombongan Belajar</a></li>
            
        </ul>
       	<div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="ptk">
              	
            	<table class="table table-striped table-hover" id="ptk_tabel" style="font-size:12px">
	                <thead>
	                  <tr>
	                    <th width="5%">#</th>
	                    <th width="50%">Nama</th>
	                    <th width="15%">Jenis Kelamin</th>
	                    <th width="15%">NUPTK</th>
	                    <th width="15%">Status Kepegawaian</th>
	                  </tr>
	                </thead>
	                <tbody>
	                </tbody>
	            </table>

            </div>
            <div class="tab-pane fade" id="pd">
            	<table class="table table-striped table-hover" id="pd_tabel" style="font-size:12px">
	                <thead>
	                  <tr>
	                    <th width="5%">#</th>
	                    <th width="50%">Nama</th>
	                    <th width="15%">Jenis Kelamin</th>
	                    <th width="15%">NISN</th>
	                    <th width="15%">NIK</th>
	                  </tr>
	                </thead>
	                <tbody>
	                </tbody>
	            </table>
            </div>
            <div class="tab-pane fade" id="rombel">
              	
            	<table class="table table-striped table-hover" id="rombel_tabel" style="font-size:12px">
	                <thead>
	                  <tr>
	                    <th width="5%">#</th>
	                    <th width="20%">Nama</th>
	                    <th width="15%">Tingkat Pendidikan</th>
	                    <th width="15%">Program Pengajaran</th>
	                    <th width="15%">Wali Kelas</th>
	                    <th width="15%">Prasarana</th>
	                    <th width="15%">Kurikulum</th>
	                  </tr>
	                </thead>
	                <tbody>
	                </tbody>
	            </table>

            </div>
        </div>

	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();

		if(dd<10) {
		    dd='0'+dd
		} 

		if(mm<10) {
		    mm='0'+mm
		} 

		today = dd+'/'+mm+'/'+yyyy;
		
		$('.hari_ini').html(today + ' 00:00:00');

		$.ajax({
          type: "GET",
          url: "{{konektor}}breadcrumb/datasekolah/{{sekolah_id}}",
          success: function(isi){
          		
                var obj = jQuery.parseJSON(isi);

                $('.sekolah').html(obj.nama);
                $('.judul_sekolah').html(obj.nama);
                $('.npsn').html(obj.npsn);
                $('.status').html(obj.status);
				$('.bentuk_pendidikan').html(obj.bentuk_pendidikan_id_str);
				$('.alamat_jalan').html(obj.alamat_jalan);
				$('.rt').html(obj.rt);
				$('.rw').html(obj.rw);
				$('.nama_dusun').html(obj.nama_dusun);
				$('.desa_kelurahan').html(obj.desa_kelurahan);
				$('.kecamatan').html(obj.kecamatan);
				$('.kabupaten').html(obj.kabupaten);
				$('.propinsi').html(obj.propinsi);
				$('.kode_pos').html(obj.kode_pos);
				$('.lintang').html(obj.lintang);
				$('.bujur').html(obj.bujur);
				$('.nomor_telepon').html(obj.nomor_telepon);
				$('.nomor_fax').html(obj.nomor_fax);
				$('.website').html(obj.website);
				$('.email').html(obj.email);
				$('.sk_pendirian_sekolah').html(obj.sk_pendirian_sekolah);
				$('.tanggal_sk_pendirian').html(obj.tanggal_sk_pendirian);
				$('.status_kepemilikan_id_str').html(obj.status_kepemilikan_id_str);
				$('.sk_izin_operasional').html(obj.sk_izin_operasional);
				$('.tanggal_sk_izin_operasional').html(obj.tanggal_sk_izin_operasional);
				// $('.jumlah_ptk').html(obj.jumlah_ptk);
				// $('.jumlah_guru').html(obj.jumlah_guru);
				// $('.jumlah_administrasi').html(obj.jumlah_administrasi);
				// $('.jumlah_pengawas').html(obj.jumlah_pengawas);
				// $('.jumlah_pd').html(obj.jumlah_pd);
				// $('.jumlah_pd_lk').html(obj.jumlah_pd_lk);
				// $('.jumlah_pd_pr').html(obj.jumlah_pd_pr);

				// console.log(obj.jumlah_ptk);
				$('.loading_profil').fadeOut('fast');

				//buat google maps
				var myCenter=new google.maps.LatLng(obj.lintang, obj.bujur);

				function initialize()
				{
				var mapProp = {
				  center:myCenter,
				  zoom:14,
				  mapTypeId:google.maps.MapTypeId.ROADMAP
				  };

				var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

				var marker=new google.maps.Marker({
				  position:myCenter,
				  });

				marker.setMap(map);
				}

				google.maps.event.addDomListener(window, 'load', initialize);
				// end of buat google maps

                
          	}
    	});

		var ptk_tabel = $('#ptk_tabel').DataTable( {
		    serverSide: false,
		    processing: true,
		    // ajax: '{{konektor}}report/daftarPtkJson/{{sekolah_id}}/' + semester_id,
		    columns: [
		        { "data": "no" },
		        { "data": "nama" },
		        { "data": "jenis_kelamin" },
		        { "data": "nuptk" },
		        { "data": "status_kepegawaian_id_str" }
		    ]
		} );

		var pd_tabel = $('#pd_tabel').DataTable( {
		    serverSide: false,
		    processing: true,
		    // ajax: '{{konektor}}report/daftarPdJson/{{sekolah_id}}/' + semester_id,
		    columns: [
		        { "mDataProp": "no" },
		        { "mDataProp": "nama" },
		        { "mDataProp": "jenis_kelamin" },
		        { "mDataProp": "nisn" },
		        { "mDataProp": "nik" }
		    ]
		} );

		var rombel_tabel = $('#rombel_tabel').DataTable( {
		    serverSide: false,
		    processing: true,
		    // ajax: '{{konektor}}report/daftarRombelJson/{{sekolah_id}}/' + semester_id,
		    columns: [
		        { "mDataProp": "no" },
		        { "mDataProp": "nama" },
		        { "mDataProp": "tingkat_pendidikan" },
		        { "mDataProp": "jurusan_sp" },
		        { "mDataProp": "wali_kelas" },
		        { "mDataProp": "prasarana" },
		        { "mDataProp": "kurikulum" }
		    ]
		} );

		$.ajax({
          type: "GET",
          url: "{{konektor}}breadcrumb/getsemester",
          success: function(isi){

          	var obj = jQuery.parseJSON(isi);

          	var optionsSemester = "";

          	for (var i = obj.length - 1; i >= 0; i--) {
          		optionsSemester += "<option tahun_ajaran='" + obj[i].nama.substring(0,9) + "' value='"+ obj[i].semester_id +"'>" + obj[i].nama + "</option>";
          	};

          	$('#selectSemester').html(optionsSemester);

          }
      	});

		$.ajax({
          type: "GET",
          url: "{{konektor}}breadcrumb/getsemesterterakhir",
          success: function(isi){
          		
                var obj = jQuery.parseJSON(isi);

                var semester = obj.semester_id.substring(4);
                
                var semArr = { 1 : "Ganjil", 2 : "Genap" };

                // console.log(semester);
                // console.log(tahun_ajaran);


				$('.semester_terakhir').html("Semester " + semArr[semester] + " Tahun Ajaran " + obj.tahun_ajaran);

				$.ajax({
			          type: "GET",
			          url: "{{konektor}}breadcrumb/breadcrumbDataSekolahJumlahPtk/{{sekolah_id}}/" + obj.semester_id,
			          success: function(isi){
			          		
			                var obj = jQuery.parseJSON(isi);

							$('.jumlah_ptk').html(obj.jumlah_ptk);
							$('.jumlah_guru').html(obj.jumlah_guru);
							$('.jumlah_administrasi').html(obj.jumlah_administrasi);
							$('.jumlah_pengawas').html(obj.jumlah_pengawas);
							
							// $('#mask').fadeOut('fast');
							$('.loading_ptk').fadeOut('fast');
			                
			          }
			    });

			    $.ajax({
			          type: "GET",
			          url: "{{konektor}}breadcrumb/breadcrumbDataSekolahJumlahPd/{{sekolah_id}}/" + obj.semester_id,
			          success: function(isi){
			          		
			                var obj = jQuery.parseJSON(isi);

							$('.jumlah_pd').html(obj.jumlah_pd);
							$('.jumlah_pd_lk').html(obj.jumlah_pd_lk);
							$('.jumlah_pd_pr').html(obj.jumlah_pd_pr);
							
							$('.loading_pd').fadeOut('fast');
			                
			          }
			    });

			    $.ajax({
			          type: "GET",
			          url: "{{konektor}}breadcrumb/breadcrumbDataSekolahJumlahPdTotal/{{sekolah_id}}",
			          success: function(isi){
			          		
			                var obj = jQuery.parseJSON(isi);

							$('.jumlah_pd_total').html(obj.jumlah_pd);
							$('.jumlah_pd_lk_total').html(obj.jumlah_pd_lk);
							$('.jumlah_pd_pr_total').html(obj.jumlah_pd_pr);
							
							$('.loading_pd_total').fadeOut('fast');
			                
			          }
			    });

			    $.ajax({
			          type: "GET",
			          url: "{{konektor}}breadcrumb/breadcrumbpdperrombel/{{sekolah_id}}/" + obj.semester_id,
			          success: function(isi){
			          		
			                var obj = jQuery.parseJSON(isi);

							$('.pd_kelas_x').html(obj.pd_kelas_x);
							$('.pd_kelas_xi').html(obj.pd_kelas_xi);
							$('.pd_kelas_xii').html(obj.pd_kelas_xii);
							$('.pd_kelas_xiii').html(obj.pd_kelas_xiii);
							
							
			          }
			    });

			    $.ajax({
				      type: "GET",
				      url: "{{konektor}}data/logSinkronisasi/{{sekolah_id}}",
				      success: function(isi){
				      		
				            var obj = jQuery.parseJSON(isi);

				            $('.sinkron_terakhir').html(obj.tgl);

							$('.loading_sinkron').hide();
							
				      }
				});


		    	ptk_tabel.ajax.url( '{{konektor}}report/daftarPtkJson/{{sekolah_id}}/' + obj.semester_id ).load();
			    pd_tabel.ajax.url( '{{konektor}}report/daftarPdJson/{{sekolah_id}}/' + obj.semester_id ).load();
			    rombel_tabel.ajax.url( '{{konektor}}report/daftarRombelJson/{{sekolah_id}}/' + obj.semester_id ).load();


			    
								                
          }
    	});

		// var ptk_tabel = $('#ptk_tabel').dataTable({
		//     "bProcessing": true,
		//     "bAutoWidth": true,
		//     ajax: "{{konektor}}report/daftarPtkJson/{{sekolah_id}}",
		//     "aoColumnDefs": [
		//         { "sClass": "text-left", "aTargets": [ 0 ] }
		//     ],
		//     "aoColumns": [
		//         { "mDataProp": "no" },
		//         { "mDataProp": "nama" },
		//         { "mDataProp": "jenis_kelamin" },
		//         { "mDataProp": "nuptk" },
		//         { "mDataProp": "status_kepegawaian_id_str" }
		//     ]
		// });

		// var pd_tabel = $('#pd_tabel').dataTable({
		//     "bProcessing": true,
		//     "bAutoWidth": true,
		//     "sAjaxSource": "{{konektor}}report/daftarPdJson/{{sekolah_id}}",
		//     "aoColumnDefs": [
		//         { "sClass": "text-left", "aTargets": [ 0 ] }
		//     ],
		//     "aoColumns": [
		//         { "mDataProp": "no" },
		//         { "mDataProp": "nama" },
		//         { "mDataProp": "jenis_kelamin" },
		//         { "mDataProp": "nisn" },
		//         { "mDataProp": "nik" }
		//     ]
		// });

		// var rombel_tabel = $('#rombel_tabel').dataTable({
		//     "bProcessing": true,
		//     "bAutoWidth": true,
		//     "sAjaxSource": "{{konektor}}report/daftarRombelJson/{{sekolah_id}}",
		//     "aoColumnDefs": [
		//         { "sClass": "text-left", "aTargets": [ 0 ] }
		//     ],
		//     "aoColumns": [
		//         { "mDataProp": "no" },
		//         { "mDataProp": "nama" },
		//         { "mDataProp": "tingkat_pendidikan" },
		//         { "mDataProp": "jurusan_sp" },
		//         { "mDataProp": "wali_kelas" },
		//         { "mDataProp": "prasarana" },
		//         { "mDataProp": "kurikulum" }
		        
		//     ]
		// });

		$( "#selectSemester" ).change(function () {

	    	var str = $( "#selectSemester option:selected" ).val();

	    	var semester = str.substring(4);
	    	var semArr = { 1 : "Ganjil", 2 : "Genap" };

	    	var judul = $( "#selectSemester option:selected" ).attr('tahun_ajaran');

	    	$('.semester_terakhir').html("Semester " + semArr[semester] + " Tahun Ajaran " + judul);

	    	// console.log(str);
	    	$('.loading_ptk').fadeIn('fast');
			$('.loading_pd').fadeIn('fast');

			$('.jumlah_ptk').html('');
			$('.jumlah_guru').html('');
			$('.jumlah_administrasi').html('');
			$('.jumlah_pengawas').html('');
			$('.jumlah_pd').html('');
			$('.jumlah_pd_lk').html('');
			$('.jumlah_pd_pr').html('');
			$('.pd_kelas_x').html('');
			$('.pd_kelas_xi').html('');
			$('.pd_kelas_xii').html('');

	    	$.ajax({
		          type: "GET",
		          url: "{{konektor}}breadcrumb/breadcrumbDataSekolahJumlahPtk/{{sekolah_id}}/" + str,
		          success: function(isi){
		          		
		                var obj = jQuery.parseJSON(isi);

						$('.jumlah_ptk').html(obj.jumlah_ptk);
						$('.jumlah_guru').html(obj.jumlah_guru);
						$('.jumlah_administrasi').html(obj.jumlah_administrasi);
						$('.jumlah_pengawas').html(obj.jumlah_pengawas);
						
						// $('#mask').fadeOut('fast');
						$('.loading_ptk').fadeOut('fast');
		                
		          }
		    });

		    $.ajax({
		          type: "GET",
		          url: "{{konektor}}breadcrumb/breadcrumbDataSekolahJumlahPd/{{sekolah_id}}/" + str,
		          success: function(isi){
		          		
		                var obj = jQuery.parseJSON(isi);

						$('.jumlah_pd').html(obj.jumlah_pd);
						$('.jumlah_pd_lk').html(obj.jumlah_pd_lk);
						$('.jumlah_pd_pr').html(obj.jumlah_pd_pr);
						
						$('.loading_pd').fadeOut('fast');
		                
		          }
		    });

		    $.ajax({
		          type: "GET",
		          url: "{{konektor}}breadcrumb/breadcrumbpdperrombel/{{sekolah_id}}/" + str,
		          success: function(isi){
		          		
		                var obj = jQuery.parseJSON(isi);

						$('.pd_kelas_x').html(obj.pd_kelas_x);
						$('.pd_kelas_xi').html(obj.pd_kelas_xi);
						$('.pd_kelas_xii').html(obj.pd_kelas_xii);
						
						
		          }
		    });

		    ptk_tabel.ajax.url( '{{konektor}}report/daftarPtkJson/{{sekolah_id}}/' + str ).load();
		    pd_tabel.ajax.url( '{{konektor}}report/daftarPdJson/{{sekolah_id}}/' + str ).load();
		    rombel_tabel.ajax.url( '{{konektor}}report/daftarRombelJson/{{sekolah_id}}/' + str ).load();

		});

		//$('.nav-tabs').fadeOut('fast');
		//$('#myTabContent').fadeOut('fast');
		//$('#petaWrap').fadeOut('fast');

        /*$('#btn_koreg').click(function (e){
        	var koreg = $( "input#koreg_validasi").val();
        	var sekolah_id = '{{sekolah_id}}';

        	$.ajax({
	            type: "POST",
	            url: "{{konektor}}report/validasiKoreg",
	            data: {"koreg" : koreg, "sekolah_id" : sekolah_id},
	            success: function(isi){
					var obj = jQuery.parseJSON(isi);

					if(obj.success == true){
						$('.nav-tabs').fadeIn('fast');
						$('#myTabContent').fadeIn('fast');
						$('#petaWrap').fadeIn('fast');
						$('.block_koreg').fadeOut('fast');
						*/
						

						// $.ajax({
				  //           type: "GET",
				  //           url: "{{konektor}}report/detailSekolah/{{sekolah_id}}",
				  //           success: function(isi){
				            
				  //           	$('#ls').fadeIn('fast','',function(){
				  //           		$('#ls').html(isi);
				  //           		//$('#loading').fadeOut('normal');
				  //           	});
				  //           },
				  //           error: function(){
				  //           	$('#ls').fadeIn('fast','',function(){
				  //           		$('#ls').load('report/reportProp');
				  //           	});
				  //           }
				  //       });

					/*	
					}else if(obj.success == false){
						
						alert('Kode Registrasi Salah');

					}	            
	            	
	            },
	            error: function(){
	            	
	            }
	        });
        });
		*/
		/*
        $.ajax({
            type: "GET",
            data: { start: 0, limit: 20 },
            url: "{{konektor}}report/daftarPtk/{{sekolah_id}}",
            success: function(isi){
            
            	$('#ptk').fadeIn('fast','',function(){
            		$('#ptk').html(isi);
            		//$('#loading').fadeOut('normal');
            	});
            },
            error: function(){
            	$('#ptk').fadeIn('fast','',function(){
            		$('#ptk').load('report/reportProp');
            	});
            }
        });
		*/
	});

</script>