<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<ul class="breadcrumb">
        <li><a href="../../">Beranda</a></li>
        <li class="active"><a href="../progres">Progress Pengiriman</a></li>
        <li class="active propinsi"></li>
        <li class="active kota"></li>
    </ul>

    <div class="form-group" style="width:50%">
      <div class="col-lg-8">
        <select class="form-control" id="selectSemester">
            
        </select>
      </div>
    </div>

    <div id="ls"></div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
    var konektor = '{{konektor}}';

    $.ajax({
        type: "GET",
        url: konektor + "breadcrumb/getsemester",
        success: function(isi){

          var obj = jQuery.parseJSON(isi);

          var optionsSemester = "";

          for (var i = obj.length - 1; i >= 0; i--) {
              optionsSemester += "<option tahun_ajaran='" + obj[i].nama.substring(0,9) + "' value='"+ obj[i].semester_id +"'>" + obj[i].nama + "</option>";
          };

          $('#selectSemester').html(optionsSemester);

        }
    });

    $( "#selectSemester" ).change(function () {

      var str = $( "#selectSemester option:selected" ).val();

      $.ajax({
                type: "GET",
                url: "{{konektor}}report/reportKabDetail/{{kode_wilayah}}?semester_id="+str,
                success: function(isi){
                
                  $('#ls').fadeIn('fast','',function(){
                    $('#ls').html(isi);
                    //$('#loading').fadeOut('normal');
                  });
                },
                error: function(){
                  $('#ls').fadeIn('fast','',function(){
                    $('#ls').html('ada kesalahan pada saat memuat data');
                  });
                }
          });

    });

		$.ajax({
        type: "GET",
        url: konektor + "breadcrumb/getsemesterterakhir",
        success: function(isi){
              
          var obj = jQuery.parseJSON(isi);

          $.ajax({
                type: "GET",
                url: "{{konektor}}report/reportKabDetail/{{kode_wilayah}}?semester_id="+obj.semester_id,
                success: function(isi){
                
                	$('#ls').fadeIn('fast','',function(){
                		$('#ls').html(isi);
                		//$('#loading').fadeOut('normal');
                	});
                },
                error: function(){
                	$('#ls').fadeIn('fast','',function(){
                		$('#ls').html('ada kesalahan pada saat memuat data');
                	});
                }
          });
        }
    });

    $.ajax({
          type: "GET",
          url: "{{konektor}}breadcrumb/reportKab/{{kode_wilayah}}",
          success: function(isi){

                var obj = jQuery.parseJSON(isi);
          
                $('.propinsi').fadeIn('fast','',function(){
                      $('.propinsi').html('<a href="../detailprop/'+ obj.kode_induk +'">' + obj.induk + '</a>');
                      //$('#loading').fadeOut('normal');
                });

                $('.kota').fadeIn('fast','',function(){
                      $('.kota').html(obj.nama);
                      //$('#loading').fadeOut('normal');
                });
          }
    });

	});
</script>