<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<h1 id="navbar">Dokumentasi</h1>

		{% if jd is defined %}

			<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		        {% for j in jd%}
			
        			{% if loop.first %}
        				
        				<li class="active"><a href="#{{j.JENIS_DOKUMENTASI_ID}}" data-toggle="tab">{{j.NAMA}}</a></li>	
        			
        			{% else %}

        				<li><a href="#{{j.JENIS_DOKUMENTASI_ID}}" data-toggle="tab">{{j.NAMA}}</a></li>
        			
        			{% endif%}         			

        		{% endfor %}
		    </ul>

		    <div id="myTabContent" class="tab-content">
	        	{% for j in jd%}

	        		{% if loop.first %}
	        			<div class="tab-pane fade active in" id="{{j.JENIS_DOKUMENTASI_ID}}">
	        				
	        					<div class="colsatu">
			
									<div class="well">
										<h3>Daftar Isi</h3>
										<ul>
										{% for dks in j.ITEMS %}
											
												<li><a style="font-size:15px" href="#dokumentasi{{dks.DOKUMENTASI_ID}}">{{dks.JUDUL}}</a></li>
									        
								        {% endfor %}
								    	</ul>
							    	</div>
									
								</div>
								<div class="coldua">
									{% for dks in j.ITEMS %}
											
										<div class="panel panel-default" id="dokumentasi{{dks.DOKUMENTASI_ID}}">
								          <div class="panel-heading"><h3 style="font-weight:bold">{{dks.JUDUL}}</h3></div>
								          <div class="panel-body" style="line-height:25px;font-size:15px">
								        	<div class="dok_img">
								        		<img src="{{konektor}}assets/img/uploaded/{{dks.GAMBAR}}" />
								        	</div>
								            <br>

								            {{dks.DESKRIPSI | raw}}
								          </div>
								        </div>
								        
							        {% endfor %}
								</div>
								<div class="clear"></div>

		        		</div>
	        		{% else %}
	        			<div class="tab-pane fade" id="{{j.JENIS_DOKUMENTASI_ID}}">
	        				<div class="colsatu">
			
								<div class="well">
									<h3>Daftar Isi</h3>
									<ul>
									{% for dks in j.ITEMS %}
										
											<li><a style="font-size:15px" href="#dokumentasi{{dks.DOKUMENTASI_ID}}">{{dks.JUDUL}}</a></li>
								        
							        {% endfor %}
							    	</ul>
						    	</div>
								
							</div>
							<div class="coldua">

								{% for dks in j.ITEMS %}
											
									<div class="panel panel-default" id="dokumentasi{{dks.DOKUMENTASI_ID}}">
							          <div class="panel-heading"><h3 style="font-weight:bold">{{dks.JUDUL}}</h3></div>
							          <div class="panel-body" style="line-height:25px;font-size:15px">
							        	<div class="dok_img">
							        		<img src="{{konektor}}assets/img/uploaded/{{dks.GAMBAR}}" />
							        	</div>
							            <br>

							            {{dks.DESKRIPSI | raw}}
							          </div>
							        </div>
							        
						        {% endfor %}

							</div>
							<div class="clear"></div>
		        		</div>
	        		{% endif%}

	        	{% endfor %}
	        </div>
        {% else %}

        <div class="panel panel-default">
          <div class="panel-heading"><b></b></div>
          <div class="panel-body">
            Belum ada Dokumentasi yang tersedia untuk saat ini
          </div>
        </div>

        {% endif %}
	</div>
</div>