<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<h1 id="navbar"><span class='icon'>&#61465</span> Download</h1>
		

		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	        <li class="active"><a href="#installer" data-toggle="tab"><span class='icon'>&#61585</span> Installer</a></li>
	        <li><a href="#patch" data-toggle="tab"><span class='icon'>&#61584</span> Updater</a></li>
	        <li><a href="#prefill" data-toggle="tab"><span class='icon'>&#61451</span> Data Prefill</a></li>
	        <li><a href="#dokumen" data-toggle="tab"><span class='icon'>&#61637</span> Dokumen</a></li>
	        
	    </ul>
	    <div id="myTabContent" class="tab-content">
	        <div class="tab-pane fade active in" id="installer">
	       	
	        	<div class="well">
	        		<div class="icon_dl">
	        			<img src="{{konektor}}assets/img/dapodikmen128s.png">
	        		</div>
	        		<div class="text_dl">
		              	<div class="text_dl_left">
		              		<h2 class="dl_nama"></h2>
			              	<h4>Tanggal Rilis: <span class="dl_tanggal"></span></h4>
			            </div>
		              	<div class="text_dl_right">
		              		<span class="dl_link"></span>
		              		Untuk Windows XP / Vista / 7 / 8 / 8.1
		              	</div>
		              	<div class="clear"></div>
		             </div>
		            <div class="clear"></div>
	            </div>

	            <div class="well">
	            	<h3>DESKRIPSI</h3>

	            	<div class="dl_deskripsi"></div>
	           </div>

	            
	       	</div>
	        <div class="tab-pane fade" id="patch">
	        	
	        	<div class="well">

	        		<div class="icon_dl">
	        			<img src="{{konektor}}assets/img/dapodikmen128_patch.png">
	        		</div>
	        		<div class="text_dl">
		              	<div class="text_dl_left">
		              		<h2>Dapodikmen Updater 8.1.3</h2>
			              	<h4>Tanggal Rilis: 03/02/2015</h4>
			            </div>
		             	<div class="text_dl_right">
		              		 <a style="color:white" target="_blank" href="http://master.dl.sourceforge.net/project/dapodikmen/Dapodikmen_8.1.3/updater_813.exe">
			             		<button type="button" class="btn btn-success" style="width:100%">
			             			<img src="{{konektor}}assets/img/dl.png" width="50px"/> 
			             			Download Via Sourcefourge
			              		</button>
		              		</a>
		              		<br><br>
		              		 <!-- <a style="color:white;width:100%" class="btn btn-primary" href="http://www.mediafire.com/download/ubhe7qcc7t116sl/updater_813.exe">
			              		<button type="button" class="btn btn-primary" style="width:100%">
			              			<img src="{{konektor}}assets/img/dl.png" width="50px"/> 
			              			Download Via Mediafire
			              		<!-- </button>
		              		</a> -->
		              		Untuk Windows XP / Vista / 7 / 8 / 8.1
		              	</div>
		              	<div class="clear"></div>
		             </div>
		            <div class="clear"></div>


	        	</div>

	        	<div class="well">

	        		<div class="icon_dl">
	        			<img src="{{konektor}}assets/img/dapodikmen128_patch.png">
	        		</div>
	        		<div class="text_dl">
		              	<div class="text_dl_left">
		              		<h2>Dapodikmen Updater 8.1.2</h2>
			              	<h4>Tanggal Rilis: 01/12/2014</h4>
			            </div>
		              	<div class="text_dl_right">
		              		<a style="color:white" target="_blank" href="http://master.dl.sourceforge.net/project/dapodikmen/Dapodikmen_8.1.2/updater_812.exe">
			              		<button type="button" class="btn btn-success" style="width:100%">
			              			<img src="{{konektor}}assets/img/dl.png" width="50px"/> 
			              			Download Via Sourcefourge
			              		</button>
		              		</a>
		       
		              		Untuk Windows XP / Vista / 7 / 8 / 8.1
		               </div>
		              	<div class="clear"></div>
		             </div>
		            <div class="clear"></div>


	        	</div>
	            	
	        </div>
	        <div class="tab-pane fade" id="prefill">
	        	
	        	Unduh data prefill sekolah bisa dilakukan melalui link ini:<br>
	        	<a target="_blank" href="http://sync.dikmen.kemdikbud.go.id/prefill/generate_prefill.php">
	        		http://sync.dikmen.kemdikbud.go.id/prefill/generate_prefill.php 
	        	</a>
				
	        </div>
	        <div class="tab-pane fade" id="dokumen">
	        	<h1>DOKUMENTASI</h1>
	        	<div class="well">
	        		<div class="dok_loop"></div>
	        		
	        	</div>
	        	<br>
	        	<br>
	        	<h1>FORMULIR</h1>
	        	<div class="well">
	        		<div class="form_loop"></div>
	        	</div>
	        	
	        </div>
	    </div>
	</div>
</div>
<input type="hidden" class="konektor" value="{{konektor}}">
<script type="text/javascript" src="{{konektor}}assets/js/modules/download.js"></script>