<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<h1 id="navbar">F.A.Q</h1>
		Frequently Asked Question / Pertanyaan yang sering diajukan
	</div>

	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		{% if faq is defined %}
		<div class="well inner" style="width:100%">
			<h4>Cari F.A.Q</h4>
			<input type="text" class="form-control" id="query" placeholder="Masukkan Kata Kunci Pencarian...">
		</div>
		<div class="colsatu">
			
			<div class="well">
				<h3>Daftar Isi</h3>
				<ul>
				{% for f in faq%}
					<li><a style="font-size:15px" href="#tanya{{f.FAQ_ID}}">{{f.PERTANYAAN}}</a></li>
		        {% endfor %}
		    	</ul>
	    	</div>
			
		</div>
		<div class="coldua">
			{% for f in faq%}
			<div class="panel panel-default" id="tanya{{f.FAQ_ID}}">
	          <div class="panel-heading"><h3 style="font-weight:bold">{{f.PERTANYAAN}}</h3></div>
	          <div class="panel-body" style="line-height:25px;font-size:15px">
	            {{f.JAWABAN | raw}}
	          </div>
	        </div>
	        {% endfor %}
		</div>
		<div class="clear"></div>

        {% else %}
        <div class="panel panel-default">
          <div class="panel-heading"><b></b></div>
          <div class="panel-body">
            Belum ada FAQ yang tersedia untuk saat ini
          </div>
        </div>
        {% endif %}
	</div>
</div>