<script src="{{konektor}}assets/js/jquery.validate.min.js"></script>

<script>
$().ready(function() {
	$("#feedbackform").validate();
});
</script>
<script type="text/javascript">
		

	$(document).ready(function(){

		$('#kirim').click(function (e){
        	$.ajax({
	            type: "GET",
	            url: "http://absen.nufaza.co.id/mail.php",
	            success: function(isi){
	            	
	            	alert(isi);
	            	
	            },
	            error: function(){
	            	
	            	alert(isi);
	            }
	        });
        });
	});

</script>
<style type="text/css">
.error{
	color:red;
	font-size:12px;
}

.bintang_merah{
	color:red;
}
</style>

<div style="background:white">
	<div class="alert alert-dismissable alert-danger">
		  <strong>PERHATIAN !</strong><b> Feedback tidak memberikan fasilitas permintaan KODE REGISTRASI</b></a>.
	</div>
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<h1 id="navbar">Feedback Pengguna Aplikasi Dapodikmen</h1>

		{% if status is defined %}

			{% if status == 'berhasil' %}

				<div class="alert alert-dismissable alert-success">
	              <button type="button" class="close" data-dismiss="alert">&times;</button>
	              <strong>Berhasil!</strong> Feedback Anda telah berhasil dikirimkan!
	            </div>

			{% elseif status == 'gagal' %}

				<div class="alert alert-dismissable alert-danger">
	              <button type="button" class="close" data-dismiss="alert">&times;</button>
	              <strong>Error!</strong> Ada yang salah. Kami akan segera mengeceknya!
	            </div>

	        {% elseif status == 'gagal_upload_gambar' %}

				<div class="alert alert-dismissable alert-danger">
	              <button type="button" class="close" data-dismiss="alert">&times;</button>
	              <strong>Error!</strong> Ada yang salah. Kami akan segera mengeceknya!
	            </div>

			{% endif %}

		{% endif %}

		<div class="well">
	      <form enctype="multipart/form-data" class="bs-example form-horizontal" id="feedbackform" action="{{konektor}}kirimfeedback" method="POST">
	        <fieldset>
	          <legend>Formulir</legend>
	          <div class="form-group">
	            <label for="inputEmail" class="col-lg-2 control-label">Email <span class="bintang_merah">*</span></label>
	            <div class="col-lg-10">
	              <input type="text" class="form-control" id="cemail" type="email" placeholder="Email" name="txtemail" required>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail" class="col-lg-2 control-label">Nama <span class="bintang_merah">*</span></label>
	            <div class="col-lg-10">
	              <input type="text" class="form-control" id="inputNama" placeholder="Nama" name="txtnama" required>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail" class="col-lg-2 control-label">Sekolah <span class="bintang_merah">*</span></label>
	            <div class="col-lg-10">
	              <input type="text" class="form-control" id="inputSekolah" placeholder="Sekolah" name="txtsekolah" required>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail" class="col-lg-2 control-label">No. Telepon</label>
	            <div class="col-lg-10">
	              <input type="text" class="form-control" id="inputTelepon" placeholder="Nomor Telepon" name="txttelepon">
	            </div>
	          </div>
	          <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Jenis Feedback <span class="bintang_merah">*</span></label>
                <div class="col-lg-10">
                  <select class="form-control" id="select" placeholder="pilih jenis feedback..." name="selectjenis" required>
                    <option value="0" disabled="disabled" selected="selected">Pilih Jenis Feedback...</option>
                    {% for jf in jenis_feedback %}
                    	<option value="{{jf.JENIS_FEEDBACK_ID}}">{{jf.NAMA}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
	            <label for="inputEmail" class="col-lg-2 control-label">Screenshot</label>
	            <div class="col-lg-10">
	              <input type="file" class="form-control" id="filegambar" placeholder="Screenshot / Gambar" name="filegambar">
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail" class="col-lg-2 control-label">Judul <span class="bintang_merah">*</span></label>
	            <div class="col-lg-10">
	              <input type="text" class="form-control" id="inputJudul" placeholder="Judul" name="txtjudul" required>
	            </div>
	          </div>
	          <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Deskripsi <span class="bintang_merah">*</span></label>
                <div class="col-lg-10">
                  <textarea class="ckeditor" rows="60" id="textArea" name="textdeskripsi" required></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2"> 
                  <button type="submit" class="btn btn-primary kirim">Kirim Feedback</button> 
                </div>
              </div>
	        </fieldset>
	      </form>
	    </div>
	</div>

</div>