<div class="navbar navbar-default" style="border-radius:0px;margin-bottom:-20px">
	<div class="wrap no-border">
		<div class="navbar-header ext" style="text-align:left">
			<div style="float:left">
				Kementerian Pendidikan dan Kebudayaan &copy; {{ tahun }}<br>
				Direktorat Jenderal Pendidikan Anak Usia Dini, Nonformal dan Informal
			</div>
		</div>
	</div>
</div>