<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
        <ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li class="active">Rekapitulasi Data</li>
        </ul>

        <div class="col_half_right">
			<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Jumlah Sekolah Nasional Per Bentuk Pendidikan 
				</div>
			    <div class="panel-body">
			    	<div id="chartPersentaseSekolahNasional">		
						<svg></svg>
					</div>
			    </div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Jumlah PTK Nasional Per Bentuk Pendidikan 
				</div>
			    <div class="panel-body">
			    	<div id="chartPersentasePtkNasional">		
						<svg></svg>
					</div>
			    </div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Jumlah Peserta Didik Nasional Per Bentuk Pendidikan 
				</div>
			    <div class="panel-body">
			    	<div id="chartPersentasePdNasional">		
						<svg></svg>
					</div>
			    </div>
			</div>
        </div>
        <div class="col_half_left">
        	<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Persentase Peningkatan Jumlah Sekolah Nasional Per Hari
				</div>
			    <div class="panel-body">
			    	<div id="chartSekolahNasional">		
						<svg></svg>
					</div>
			    </div>
			</div>

        	<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Persentase Peningkatan Jumlah PTK Nasional Per Hari
				</div>
			    <div class="panel-body">
			    	<div id="chartPtkNasional">		
						<svg></svg>
					</div>
			    </div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Persentase Peningkatan Jumlah Peserta Didik Nasional Per Hari
				</div>
			    <div class="panel-body">
			    	<div id="chartPdNasional">		
						<svg></svg>
					</div>
			    </div>
			</div>

			
        </div>
        <div class="clear"></div>

        <div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Rekapitulasi Jumlah Sekolah Nasional Per Hari Per Bentuk Pendidikan
				</div>
			    <div class="panel-body">
			    	<div id="chartSekolahNasionalPerBp">		
						<svg></svg>
					</div>
			    </div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:14px">
				    Rekapitulasi Jumlah PTK Nasional Per Hari Per Bentuk Pendidikan
				</div>
			    <div class="panel-body">
			    	<div id="chartPtkNasionalPerBp">		
						<svg></svg>
					</div>
			    </div>
			</div>
        
    </div>
</div>
<script src="{{konektor}}assets/nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/src/models/legend.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pie.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pieChart.js"></script>
<script src="{{konektor}}assets/nvd3/src/utils.js"></script>
<script type="text/javascript">

function getTotalCount(datas) {
	          
  	var sum = 0;
 	var length = datas.length;
  	for (var i = 0; i < length; i++) {
    	sum += datas[i].y;
    
 	}
  
  	return sum;
};



d3.json('{{konektor}}report/chart/rekapPdNasional', function(json) {

	var chart;
	  nv.addGraph(function() {
	      chart = nv.models.multiBarChart()
	      .showControls(false);
	        // .barColor(d3.scale.category20().range());

	      chart.multibar
	        .hideable(true);

	      chart.reduceXTicks(true).staggerLabels(false);

	      chart.xAxis
	          .showMaxMin(true)
	          //.rotateLabels(-45);
	          ;
	         // .tickFormat(d3.format(',f'));

	      chart.yAxis
	          .tickFormat(d3.format('.'));

	     
	      d3.select('#chartPdNasional svg')
	          .datum(json)
	        .transition().duration(500).call(chart);

	      nv.utils.windowResize(chart.update);

	      // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

	      return chart;
	  });

});

d3.json('{{konektor}}report/chart/rekapPtkNasional', function(json) {

	var chart;
	  nv.addGraph(function() {
	      chart = nv.models.multiBarChart()
	      .showControls(false);
	        // .barColor(d3.scale.category20().range());

	      chart.multibar
	        .hideable(true);

	      chart.reduceXTicks(true).staggerLabels(false);

	      chart.xAxis
	          .showMaxMin(true)
	          //.rotateLabels(-45);
	          ;
	         // .tickFormat(d3.format(',f'));

	      chart.yAxis
	          .tickFormat(d3.format('.'));

	        chart.tooltip(function(key, x, y, e, graph) {
			    return '<h3>' + key + '</h3>' +
			           '<p>' +  y + ' % di tanggal ' + x + '</p>';
			});

	     
	      d3.select('#chartPtkNasional svg')
	          .datum(json)
	        .transition().duration(500).call(chart);

	      nv.utils.windowResize(chart.update);

	      // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

	      return chart;
	  });

});

d3.json('{{konektor}}report/chart/rekapSekolahNasional', function(json) {

	var chart;
	  nv.addGraph(function() {
	      chart = nv.models.multiBarChart()
	      .showControls(false);
	        // .barColor(d3.scale.category20().range());

	      chart.multibar
	        .hideable(true);

	      chart.reduceXTicks(true).staggerLabels(false);

	      chart.xAxis
	          .showMaxMin(true)
	          //.rotateLabels(-45);
	          ;
	         // .tickFormat(d3.format(',f'));

	      chart.yAxis
	          .tickFormat(d3.format('.'));

	     
            chart.tooltip(function(key, x, y, e, graph) {
			    return '<h3>' + key + '</h3>' +
			           '<p>' +  y + ' % di tanggal ' + x + '</p>';
			});

	     
	      d3.select('#chartSekolahNasional svg')
	          .datum(json)
	        .transition().duration(500).call(chart);

	      nv.utils.windowResize(chart.update);

	      // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

	      return chart;
	  });

});


d3.json('{{konektor}}report/chart/persentaseSekolahNasional', function(json) {
	          
    var countData = getTotalCount(json);
    nv.addGraph(function() {
        var width = 600,
            height = 500
        ;

        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .showLabels(true)
            .labelType("percent")
            .donut(false)
			.showLegend(true)
			.tooltipContent(function(key, y, e, graph) {
	            var re = /,/gi;
	            var re2 = /\.00/gi;
	            // replace .00
	            var x = y.replace(re2, "");
	            // replace , to .
	            var x = x.replace(re, "");
	            // console.log(Math.round((x/countData)*100));
	            var percent = Math.round((x/countData)*100);
	            return '<h2 class="btn-sm"><strong>' + key + '</strong></h2>' +
	                   '<p>' +  x + ' <strong> (' + percent + '%)</strong>' + '</p>'
	          })
            .values(function(d) {
              
              return d;
            })
            //.color(d3.scale.category10().range())
            .color(['#66C408','#FFB300', '#FF3636'])
        ;

        d3.select("#chartPersentaseSekolahNasional svg")
          .datum(json)
          .transition().duration(500)
          
          .call(chart)
        ;
        nv.utils.windowResize(chart.update);

        return chart;
    });
});

d3.json('{{konektor}}report/chart/persentasePtkNasional', function(json) {
	          
    var countData = getTotalCount(json);
    nv.addGraph(function() {
        var width = 600,
            height = 500
        ;

        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .showLabels(true)
            .labelType("percent")
            .donut(false)
			.showLegend(true)
			.tooltipContent(function(key, y, e, graph) {
	            var re = /,/gi;
	            var re2 = /\.00/gi;
	            // replace .00
	            var x = y.replace(re2, "");
	            // replace , to .
	            var x = x.replace(re, "");
	            // console.log(Math.round((x/countData)*100));
	            var percent = Math.round((x/countData)*100);
	            return '<h2 class="btn-sm"><strong>' + key + '</strong></h2>' +
	                   '<p>' +  x + ' <strong> (' + percent + '%)</strong>' + '</p>'
	          })
            .values(function(d) {
              
              return d;
            })
            //.color(d3.scale.category10().range())
            .color(['#66C408','#FFB300', '#FF3636'])
        ;

        d3.select("#chartPersentasePtkNasional svg")
          .datum(json)
          .transition().duration(500)
          
          .call(chart)
        ;
        nv.utils.windowResize(chart.update);

        return chart;
    });
});

d3.json('{{konektor}}report/chart/persentasePdNasional', function(json) {
	          
    var countData = getTotalCount(json);
    nv.addGraph(function() {
        var width = 600,
            height = 500
        ;

        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .showLabels(true)
            .labelType("percent")
            .donut(false)
			.showLegend(true)
			.tooltipContent(function(key, y, e, graph) {
	            var re = /,/gi;
	            var re2 = /\.00/gi;
	            // replace .00
	            var x = y.replace(re2, "");
	            // replace , to .
	            var x = x.replace(re, "");
	            // console.log(Math.round((x/countData)*100));
	            var percent = Math.round((x/countData)*100);
	            return '<h2 class="btn-sm"><strong>' + key + '</strong></h2>' +
	                   '<p>' +  x + ' <strong> (' + percent + '%)</strong>' + '</p>'
	          })
            .values(function(d) {
              
              return d;
            })
            //.color(d3.scale.category10().range())
            .color(['#66C408','#FFB300', '#FF3636'])
        ;

        d3.select("#chartPersentasePdNasional svg")
          .datum(json)
          .transition().duration(500)
          
          .call(chart)
        ;
        nv.utils.windowResize(chart.update);

        return chart;
    });
});

d3.json('{{konektor}}report/chart/rekapSekolahNasionalPerBp', function(json) {

	var chart;
	  nv.addGraph(function() {
	      chart = nv.models.multiBarChart()
	      .showControls(true);
	        // .barColor(d3.scale.category20().range());

	      chart.multibar
	        .hideable(true);

	      chart.reduceXTicks(true).staggerLabels(false);

	      chart.xAxis
	          .showMaxMin(true)
	          //.rotateLabels(-45);
	          ;
	         // .tickFormat(d3.format(',f'));

	      chart.yAxis
	          .tickFormat(d3.format('.'));

	     
	      d3.select('#chartSekolahNasionalPerBp svg')
	          .datum(json)
	        .transition().duration(500).call(chart);

	      nv.utils.windowResize(chart.update);

	      // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

	      return chart;
	  });

});

d3.json('{{konektor}}report/chart/rekapPtkNasionalPerBp', function(json) {

	var chart;
	  nv.addGraph(function() {
	      chart = nv.models.multiBarChart()
	      .showControls(true);
	        // .barColor(d3.scale.category20().range());

	      chart.multibar
	        .hideable(true);

	      chart.reduceXTicks(true).staggerLabels(false);

	      chart.xAxis
	          .showMaxMin(true)
	          //.rotateLabels(-45);
	          ;
	         // .tickFormat(d3.format(',f'));

	      chart.yAxis
	          .tickFormat(d3.format('.'));

	     
	      d3.select('#chartPtkNasionalPerBp svg')
	          .datum(json)
	        .transition().duration(500).call(chart);

	      nv.utils.windowResize(chart.update);

	      // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

	      return chart;
	  });

});



</script>
<style type="text/css">
#chartPersentaseSekolahNasional, #chartPersentasePtkNasional,#chartPersentasePdNasional,#chartPtkNasionalPerBp{
	min-height: 100px;
	height:300px;
	border:1px solid #ccc;
	width: 100%;
	text-align: center;
}
#chart2,#chart3,#chart4{
	min-height: 100px;
	margin-bottom: 0px;
	border:0px solid #ccc;
	width: 100%;
	height:220px;
	text-align: center;
}

#chartLine{
	width: 100%;
	min-height:300px;
	height: 300px;
	border:1px solid #ccc;
}

#chartProp{
	width: 100%;
	min-height:300px;
	height: 300px;
	border:1px solid #ccc;
	padding-bottom: 0px;
}

#chartPdNasional,#chartPtkNasional,#chartSekolahNasional,#chartSekolahNasionalPerBp{
	width: 100%;
	min-height:300px;
	height: 300px;
	border:1px solid #ccc;
	padding-bottom: 0px;
}

</style>