<div style="background:white">
    <div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
        <ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li>Cek Data UN</li>
            <li class="active">Daftar Sekolah</li>
        </ul>
    </div>

    <h4>Semester Ganjil Tahun Ajaran 2014/2015</h4>
    <hr>
    <div id="ls"><div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div></div>

</div>
<input type="hidden" value="{{konektor}}" class="konektor">
<input type="hidden" value="{{kode_wilayah}}" class="kode_wilayah">
<input type="hidden" value="{{id_level_wilayah}}" class="id_level_wilayah">

<script type="text/javascript" src="{{konektor}}assets/js/modules/lihatSekolah.js"></script>
