


<div class="left_col11">
	<div class="panel panel-default">
		
		{% if user is defined %}
			<div class="panel-heading">
				Selamat Datang, <b>{{ user }}</b> !
			</div>
			<div class="panel-body">
				
				{% if peran_id == 10 %}
					Peran: <br><b>{{peran_id_str}}</b><br>
					Sekolah: <br><b>{{sekolah_id_str}}</b><br>
					Wilayah: <br><b>{{wilayah_id_str}} / {{mst_kode_wilayah_str}}</b><br>
					<hr>

					<a href="laman/detailSekolah/{{sekolah_id}}" style="color:white" class="btn btn-primary btn-xs btn-block">
				    	<div style="width:100%"><span class='icon yellow'>&#61515</span> Data Sekolah</div>
					</a>

				{% else %}
					Peran: <br><b>{{peran_id_str}}</b><br>
					Wilayah: <br><b>{{wilayah_id_str}} / {{mst_kode_wilayah_str}}</b><br>
					<hr>

					<a style="color:white" id="manajemen_link" class="btn btn-primary btn-xs btn-block">
				    	<div style="width:100%"><span class='icon yellow'>&#61515</span> Manajemen Pendataan</div>
					</a>

				{% endif %}

	    	 	<a style="color:white" href="logout" class="btn btn-warning btn-xs btn-block">
			    	<div style="width:100%"><span class='icon yellow'>&#61509</span> Logout</div>
				</a>
				
		    </div>
		{% else %}

			<a style="color:white" target="_blank" href="http://223.27.152.200:8071/" class="541_menu btn btn-success btn-lg btn-block">
		    	<div style="width:100%"><span class='icon yellow'>&#61572</span> Login <br>Manajemen PAUD-Dikmas</div>
			</a>

		{% endif %}

		
	</div>
	<a style="color:white" href="{{konektor}}laman/datapokok" class="btn btn-primary btn-lg btn-block">
    	<div style="width:100%"><img src="{{konektor}}assets/img/dapodikmen128s.png" width="20%"><br>Data Pokok<br> PAUD-Dikmas</div>
	</a>
	<br>
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title" style="float:left">Log Sinkronisasi Terakhir</h3>
	      <button type="button" class="btn btn-default btn-xs" id="btn-reload-sync" style="float:right"><span class='icon'>&#61470</span></button>
	      <div class="clear"></div>
	    </div>
	    <div class="panel-body">
	    	
	    	
	      <div id="ls">
	      	<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div>
	      </div>
	    </div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
		    <h3 class="panel-title">Sinkronisasi 10 Hari Terakhir</h3>
		</div>
	    <div class="panel-body">
	    	<div class="countsync">
	    		<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div>
	    	</div>
		</div>
	</div>

	<!-- <ul class="list-group">
	  <li class="list-group-item">
	  	
		<span class='icon' style="font-size:20px">&#61570</span> &nbsp;
		<a href="https://www.facebook.com/groups/pendataan.dikmen">
		    Facebook Group Dapodikmen
		</a>
	  </li>
	</ul>

	<ul class="list-group">
	  <li class="list-group-item">
	  	
		<span class='icon' style="font-size:20px">&#61633</span> &nbsp;
		<a href="http://referensi.data.kemdikbud.go.id/">
		    Referensi
	    </a>
	  </li>
	  <li class="list-group-item">
	  	
		<span class='icon' style="font-size:20px">&#61633</span> &nbsp;
		<a href="http://bos.kemdikbud.go.id/">
		    BOS
	    </a>
	  </li>
	  <li class="list-group-item">
	  	<span class='icon' style="font-size:20px">&#61633</span> &nbsp;
	  	<a href="http://bsm.kemdikbud.go.id/">
	    	BSM
	    </a>
	  </li>
	</ul>
 -->
	  <div class="well">
	  	<h4>Kementerian Pendidikan dan Kebudayaan</h4>
	  	Direktorat Jenderal Pendidikan Anak Usia Dini, Nonformal dan Informal<br><br>
	  	Jl. Jenderal Sudirman Gedung E Lantai III Senayan, Jakarta 10270, Telp. 021-5725061 Fax. 021-5725484 Tromol Pos:1303 Kode Pos 10013<br>

	  </div>
</div>
<div class="right_col21">

	<div class="panel panel-primary">
		<div class="panel-heading">
		    <h3 class="panel-title">Rekap Total</h3>
		</div>
		<div class="panel-body">
			<div class="form-group" style="width:50%">
		      	<div class="col-lg-8">
			    	<select class="form-control" id="selectSemester">
			      		
			    	</select>
		    	</div>
	    	</div>
		  	<div class="rekap_all">
		  		<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div>
		  	</div>
		  	<i style="font-size:14px">*: Guru dan Pegawai yang masuk dalam penghitungan rekap adalah Guru dan Pegawai yang sudah mendapat penugasan dan berstatus aktif</i>
		  	<br>
		  	<br>
		  	<!-- <div style="margin:auto:width:100%;text-align:center">
		  		<a style="color:white" id="manajemen_link" class="btn btn-primary" href="{{konektor}}laman/rekapdapodik">
			    	<div style="width:100%"><span class='icon yellow'>&#61458</span> Detail Rekap</div>
				</a>
		  	</div> -->
		  	
		</div>
	</div>

	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Berita</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="berita">
	  		<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div>
	  	</div>
	    <a href="laman/berita">
		    <div class="well well-sm" style="text-align:center">
		    	<h4>Berita Selengkapnya</h4>
		    </div>
	    </a>
	  </div>
	</div>

	<hr>

	<div class="col_half_left">
		<div class="panel panel-success">
			<div class="panel-heading">
			    <h3 class="panel-title" style="float:left">Top 10 Pengiriman Per Propinsi <br>Periode 2014/2015 Genap</h3>
			    <button type="button" class="btn btn-success btn-xs" id="btn-reload-prop" style="float:right"><span class='icon'>&#61470</span></button>
			    <div class="clear"></div>
			</div>
		    <div class="panel-body">
		    	<div class="top5prop">
		    		<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div>
		    	</div>
		    	<div class="list-group" style="text-align:center">
				  <a href="{{konektor}}laman/progres" class="list-group-item">
				    Peringkat Selengkapnya
				  </a>
				  
				</div>
			</div>
		</div>
		<br>
		
	</div>
	<div class="col_half_right">
		<div class="panel panel-warning">
			<div class="panel-heading">
			    <h3 class="panel-title" style="float:left">Top 10 Pengiriman Per Kabupaten < 100%<br>Periode 2014/2015 Genap</h3>
			    <button type="button" class="btn btn-warning btn-xs" id="btn-reload-kab" style="float:right"><span class='icon'>&#61470</span></button>
			    <div class="clear"></div>
			</div>
		    <div class="panel-body">
		    	
				<div class="top10kab">
					<div style="width:10%;margin:auto;"><img src="{{konektor}}assets/img/loading8.gif" width="100%"/></div>
				</div>
				<div class="list-group" style="text-align:center">
				  <a href="{{konektor}}laman/peringkatKabupaten" class="list-group-item">
				    Peringkat Selengkapnya
				  </a>
				  
				</div>
			</div>
		</div>
	</div>
	<div clas="clear"></div>

</div>
<div class="clear"></div>


<script type="text/javascript">
		

	$(document).ready(function(){

		$.ajax({
          type: "GET",
          url: "{{konektor}}breadcrumb/getsemester",
          success: function(isi){

          	var obj = jQuery.parseJSON(isi);

          	var optionsSemester = "";

          	for (var i = obj.length - 1; i >= 0; i--) {
          		optionsSemester += "<option tahun_ajaran='" + obj[i].nama.substring(0,9) + "' value='"+ obj[i].semester_id +"'>" + obj[i].nama + "</option>";
          	};

          	$('#selectSemester').html(optionsSemester);

          }
      	});	

      	$( "#selectSemester" ).change(function () {
      		var str = $( "#selectSemester option:selected" ).val();

      		$.ajax({
	            type: "GET",
	            url: "{{konektor}}report/rekapall3?semester_id="+str,
	            success: function(isi){

	            	$('.rekap_all').fadeIn('fast','',function(){
	            		$('.rekap_all').html(isi);
	            		//$('#loading').fadeOut('normal');
	            	});
	            }
	        });
      	});

		$.ajax({
            type: "GET",
            url: "{{konektor}}report/Berita",
            success: function(isi){
            
            	$('.berita').fadeIn('fast','',function(){
            		$('.berita').html(isi);
            		//$('#loading').fadeOut('normal');
            	});
            
            
            }
        });
		
        $.ajax({
            type: "GET",
            url: "{{konektor}}report/lastSync",
            success: function(isi){
            
            	$('#ls').fadeIn('fast','',function(){
            		$('#ls').html(isi);
            		//$('#loading').fadeOut('normal');
            	});
            },
            error: function(){
            	$('#ls').fadeIn('fast','',function(){
            		$('#ls').load('report/lastSync');
            	});
            }
        });

		$.ajax({
            type: "GET",
            url: "{{konektor}}report/rekapall3",
            success: function(isi){

            	$('.rekap_all').fadeIn('fast','',function(){
            		$('.rekap_all').html(isi);
            		//$('#loading').fadeOut('normal');
            	});
            }
        });

        $.ajax({
            type: "GET",
            url: "{{konektor}}report/top5prop?semester_id=20142",
            success: function(isi){
            
            	$('.top5prop').fadeIn('fast','',function(){
            		$('.top5prop').html(isi);
            		//$('#loading').fadeOut('normal');
            	});
            },
            error: function(){
            	$('.top5prop').fadeIn('fast','',function(){
            		$('.top5prop').load('report/lastSync');
            	});
            }
        });

        $.ajax({
            type: "GET",
            url: "{{konektor}}report/countsyncday",
            success: function(isi){
            
            	$('.countsync').fadeIn('fast','',function(){
            		$('.countsync').html(isi);
            		//$('#loading').fadeOut('normal');
            	});
            },
            error: function(){
            	$('.countsync').fadeIn('fast','',function(){
            		$('.countsync').load('report/lastSync');
            	});
            }
        });

        $.ajax({
            type: "GET",
            url: "{{konektor}}report/top10kab?semester_id=20142",
            success: function(isi){
            
            	$('.top10kab').fadeIn('fast','',function(){
            		$('.top10kab').html(isi);
            		//$('#loading').fadeOut('normal');
            	});
            },
            error: function(){
            	$('.top10kab').fadeIn('fast','',function(){
            		$('.top10kab').load('report/lastSync');
            	});
            }
        });

        $('#btn-reload-sync').click(function (e){
        	$('#ls').fadeOut('fast');

        	$.ajax({
	            type: "GET",
	            url: "{{konektor}}report/lastSync",
	            success: function(isi){
	            
	            	$('#ls').fadeIn('fast','',function(){
	            		$('#ls').html(isi);
	            		//$('#loading').fadeOut('normal');
	            	});
	            },
	            error: function(){
	            	$('#ls').fadeIn('fast','',function(){
	            		$('#ls').load('report/lastSync');
	            	});
	            }
	        });
        });

        $('#btn-reload-prop').click(function (e){
        	$('.top5prop').fadeOut('fast');

        	$.ajax({
	            type: "GET",
	            url: "{{konektor}}report/top5prop?semester_id=20142",
	            success: function(isi){
	            
	            	$('.top5prop').fadeIn('fast','',function(){
	            		$('.top5prop').html(isi);
	            		//$('#loading').fadeOut('normal');
	            	});
	            },
	            error: function(){
	            	$('.top5prop').fadeIn('fast','',function(){
	            		$('.top5prop').load('report/lastSync');
	            	});
	            }
	        });
        });

        $('#btn-reload-kab').click(function (e){
        	$('.top10kab').fadeOut('fast');

        	$.ajax({
	            type: "GET",
	            url: "{{konektor}}report/top10kab?semester_id=20142",
	            success: function(isi){
	            
	            	$('.top10kab').fadeIn('fast','',function(){
	            		$('.top10kab').html(isi);
	            		//$('#loading').fadeOut('normal');
	            	});
	            },
	            error: function(){
	            	$('.top10kab').fadeIn('fast','',function(){
	            		$('.top10kab').load('report/lastSync');
	            	});
	            }
	        });
        });

        $('.541_menu').click(function (e){
		
			var hash = window.location.hash;
			var href = $(this).attr("href");

			//console.log(href.substring(2,1));

			if(href.substring(2,1) == '!'){
				e.preventDefault();

				//$('body').append('<div id="panel"></div>');
				//$('body').append('<div id="mask"></div>');

				$('#mask').fadeIn('fast');
				$('#panel').fadeIn('fast');

				loadContentWindow(href);

			}else{

				if(hash != href){
					if(hash != "" || href != "#"){
						loadContent(href);
					}
				}
			}

		});

		$('#mask').click(function (e){
			$('#mask').fadeOut('fast');
			$('#panel').fadeOut('fast');

			//alert('yes');
		});

		$('#panel-close').click(function (e){
			$('#mask').fadeOut('fast');
			$('#panel').fadeOut('fast');

			//alert('yes');
		});

        function loadContentWindow(href){
			var target = href.replace("#","");

			if(target){
				
				$.ajax({
		            type: "GET",
		            url: "loginsob",
		            success: function(isi){
		            
		            	$('#window-content').html(isi);
		            		
		            },
		            error: function(){
		            	
		            	$('#window-content').load('content/404');
		            	
		            }
		        });

			}
		}

		$('a#manajemen_link').click(function (e){
			window.location.replace("../../manajemen/web/index.php");
			
		});
		
	});
</script>