<div style="font-size:20px;text-align:center;width:90%;margin:auto">
	<img src="{{konektor}}assets/img/logo.png" width="80px" /><br>
	<div style="font-size:30px;">Website Sedang Dalam Perawatan</div><br>
	Mohon Maaf atas ketidaknyamanan ini<br>
	Silakan Kembali beberapa saat lagi
	<hr>
</div>