<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Pengumuman</h2>
    </div>
    <div class="panel-body form-login-panel">
		
		Kepada Operator Sekolah Seluruh Indonesia,<br><br>
		<ol style="margin-left:20px">
			<li>Terima kasih telah mengisi Data Pokok Pendidikan Menengah, kami sangat mengapresiasi semangat teman-teman operator sekolah yang dengan antusias mengisi Data Pokok Pendidikan Menengah. Kami mohon maaf apabila layanan kami masih belum maksimal, semoga tahun yang akan datang dapat lebih baik lagi.</li>
			<li>Tahap selanjutnya, kita sukseskan penjaringan Data Pokok Pendidikan Menengah untuk pencairan Bantuan Operasional Sekolah, Program Indonesia Pintar, Tunjangan Guru, dan Bantuan Sosial Lainnya</li>
			<li>Selamat Tahun Baru, Semoga di tahun 2015 ini segala kemudahan akan menyertai kita.. Amien</li>
			<li>Salam Satu Data Dapodikmen !!!</li>
		</ol>
	</div>
</div>