<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<h1 id="navbar">Peringkat Pengiriman Kabupaten / Kota</h1>
		<hr>

		<div class="list-group list-kab">
		  
		</div>

		
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		//document.body.scrollTop = document.documentElement.scrollTop = 0;

		var offset = 0;
		var end = false;

		$.ajax({
            type: "GET",
            url: "{{konektor}}listKabupaten/" + offset,
            success: function(isi){
            
            	  $(".list-kab").append(isi); 

            	  offset = parseInt(offset) + 50;

            	  console.log(offset);         
            
            }
        });
		
        $(window).scroll(function() {
		   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		       //alert(offset);
		       if(end ==  false){
		       		//$(".list-kab").append('<a class="list-group-item load-list" style="text-align:center">Memuat Daftar...</a>');

		       		$.ajax({
			            type: "GET",
			            url: "{{konektor}}listKabupaten/" + offset,
			            success: function(isi){
			            	$('.load-list').remove();

			            	if(isi != ''){
			            		$(".list-kab").append(isi); 

				            	offset = parseInt(offset) + 50;

				            	console.log(offset);
			            	}else{
			            		$('.load-list').remove();

			            		end = true;

			            		$(".list-kab").append('<a class="list-group-item" style="text-align:center"><b>Akhir dari Daftar</b></a>'); 
			            	}         
			            
			            }
			        });

		       }
		       
		   }
		});

		
		
	});
</script>