<!--div class="btn btn-primary" id="load-peta">Tampilkan Progres Pengiriman</div-->
<hr>
<div style="width:100%;margin:auto;background:#000">
    <div id="map"></div>
</div>

<script type="text/javascript" src="{{konektor}}assets/js/leaflet.js"></script>
<script type="text/javascript" src="{{konektor}}peta/geojson"></script>
<script type="text/javascript" src="{{konektor}}assets/js/indonesia.js"></script>
     
<hr>