<script src="{{konektor}}assets/nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/src/models/legend.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pie.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pieChart.js"></script>
<script src="{{konektor}}assets/nvd3/src/utils.js"></script>



<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
        <ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li class="active">Progress Pengiriman</li>
        </ul>
        <div class="form-group" style="width:50%">
	        <div class="col-lg-8"> 
	          <select class="form-control" id="selectSemester">
	              
	          </select>
	        </div>
	    </div>
		<div id="ls"></div>

    </div>
</div>
<input type="hidden" value="{{konektor}}" class="konektor">
<script type="text/javascript" src="{{konektor}}assets/js/modules/progress.js"></script>