<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">

		<ul class="breadcrumb">
            <li><a href="../../">Beranda</a></li>
            <li class="rekap"><a href="../rekapdapodik">Rekapitulasi Data Pokok</a></li>
            <li class="rekap">Sekolah</li>
        </ul>

        <div class="col_half_left"><span style="font-size:40px">Sekolah</span></div>
        <div class="col_half_right" style="text-align:right">Tahun Ajaran 2014/2015 Semester Ganjil</div>
        <div class="clear"></div>
        <hr>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
	        <li class="active"><a href="#status" data-toggle="tab"><span class="icon">&#61483</span> Status Sekolah</a></li>
	        
	    </ul>
	    <div id="myTabContent" class="tab-content">
	        <div class="tab-pane fade active in" id="status">

	        	<div class="panel panel-default">
				 	<div class="panel-body">
				    	<h2>Status Sekolah</h2>

				    	<div class="col_half_left">
				    		
				    		<hr>
					        <b>TOTAL</b>
				    		<table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>Sekolah Negeri</td>
					                    <td align="right"><span class="status_negeri"></span></td>
					                    <td align="right"><span class="status_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>Sekolah Swasta</td>
					                    <td align="right"><span class="status_swasta"></span></td>
					                    <td align="right"><span class="status_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>
					        <hr>
					        <b>SMA</b>
					        <table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>SMA Negeri</td>
					                    <td align="right"><span class="status_sma_negeri"></span></td>
					                    <td align="right"><span class="status_sma_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>SMA Swasta</td>
					                    <td align="right"><span class="status_sma_swasta"></span></td>
					                    <td align="right"><span class="status_sma_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>
					        
					        <hr>
					        <b>SMK</b>
					        <table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>SMK Negeri</td>
					                    <td align="right"><span class="status_smk_negeri"></span></td>
					                    <td align="right"><span class="status_smk_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>SMK Swasta</td>
					                    <td align="right"><span class="status_smk_swasta"></span></td>
					                    <td align="right"><span class="status_smk_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>

					        <hr>
					        <b>SMLB</b>
					        <table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>SMLB Negeri</td>
					                    <td align="right"><span class="status_smlb_negeri"></span></td>
					                    <td align="right"><span class="status_smlb_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>SMLB Swasta</td>
					                    <td align="right"><span class="status_smlb_swasta"></span></td>
					                    <td align="right"><span class="status_smlb_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>
					        <hr>
						    <a href="{{konektor}}laman/#" class="btn btn-default btn-lg btn-block">Detail</a>
							<hr>

				    	</div>
				    	<div class="col_half_right">
				    		
				    		<div class="col_half_right" style="text-align:center">
				    			<b>SMA</b>
				    			<div id="chartPieSekolahStatusSma">		
									<svg></svg>
								</div>

								<b>SMLB</b>
				    			<div id="chartPieSekolahStatusSmlb">		
									<svg></svg>
								</div>
				    		</div>
				    		<div class="col_half_left" style="text-align:center">
				    			<b>Total</b>
				    			<div id="chartPieSekolahStatusTotal">		
									<svg></svg>
								</div>

								<b>SMK</b>
				    			<div id="chartPieSekolahStatusSmk">		
									<svg></svg>
								</div>

				    		</div>
				    		<div class="clear"></div>

				    	</div>
				    	<div class="clear"></div>
				    </div>
				</div>
	        	<hr>
	        </div>
	    </div>

        
        
    </div>
</div>
<input type="hidden" value="{{konektor}}" class="konektor">
<style type="text/css">
table{
	font-size:15px;
}

#chartPieSekolahStatusSma,
#chartPieSekolahStatusSmlb,
#chartPieSekolahStatusTotal,
#chartPieSekolahStatusSmk svg{
	height:350px;
	border: 0px solid #ccc;
}

</style>
<script src="{{konektor}}assets/nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/src/models/legend.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pie.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pieChart.js"></script>
<script src="{{konektor}}assets/nvd3/src/utils.js"></script>
<script type="text/javascript" src="{{konektor}}assets/js/modules/rekapDapodikSekolah.js"></script>
