<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">

		<ul class="breadcrumb">
            <li><a href="../../">Beranda</a></li>
            <li class="rekap"><a href="../rekapdapodik">Rekapitulasi Data Pokok</a></li>
            <li class="rekap">Peserta Didik </li>
        </ul>

        <div class="col_half_left"><span style="font-size:40px">Peserta Didik</span></div>
        <div class="col_half_right" style="text-align:right">Tahun Ajaran 2014/2015 Semester Ganjil</div>
        <div class="clear"></div>
        <hr>
         <ul class="nav nav-tabs" style="margin-bottom: 15px;">
	        <li class="active"><a href="#pemetaanrombel" class="pemetaanrombel" data-toggle="tab"><span class="icon">&#61483</span> Pemetaan Rombel</a></li>
	        <li><a href="#status" data-toggle="tab" class="statussekolah"><span class="icon">&#61483</span> Status Sekolah</a></li>
	        
	    </ul>
	    <div id="myTabContent" class="tab-content">
	        <div class="tab-pane fade active in" id="pemetaanrombel">

	        	<div class="panel panel-default">
				 	<div class="panel-body">
				    	<h2>Pemetaan Rombel</h2>

				    	<div class="col_half_left">
				    		
				    		<table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>Peserta didik terdaftar</td>
					                    <td align="right"><span class="pd_terdaftar"></span></td>
					                    <td align="right"><span class="pd_terdaftar_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>Peserta didik yang telah masuk rombel</td>
					                    <td align="right"><span class="pd_rombel"></span></td>
					                    <td align="right"><span class="pd_rombel_persen"></span></td>
					                </tr>
					               	<tr>
					                    <td>Peserta didik yang belum masuk rombel</td>
					                    <td align="right"><span class="pd_belum_rombel"></span></td>
					                    <td align="right"><span class="pd_belum_rombel_persen"></span></td>
					                </tr>			                
					            </body>
					        </table>
					        <hr>
						    <a href="{{konektor}}laman/rekappdnasional" class="btn btn-default btn-lg btn-block">Detail</a>
							
				    	</div>
				    	<div class="col_half_right">
				    		<div class="col_half_right">
								
						    	<div id="chartPiePdRombel">		
									<svg></svg>
								</div>

				    		</div>
				    		<div class="col_half_left">

				    			<div id="chartbarpemetaanrombel">		
									<svg></svg>
								</div>

				    		</div>
				    		<div class="clear"></div>
				    	</div>
				    	<div class="clear"></div>
				    	<hr>

				    </div>
				</div>

	        </div>
	        <div class="tab-pane fade in" id="status">

	        	<div class="panel panel-default">
				 	<div class="panel-body">
				    	<h2>Status Sekolah</h2>

				    	<div class="col_half_left">
				    		<hr>
					        <b>TOTAL</b>
				    		<table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>PD Negeri</td>
					                    <td align="right"><span class="pd_rombel_negeri"></span></td>
					                    <td align="right"><span class="pd_rombel_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>PD Swasta</td>
					                    <td align="right"><span class="pd_rombel_swasta"></span></td>
					                    <td align="right"><span class="pd_rombel_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>
					        <hr>
					        <b>SMA</b>
					        <table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>PD SMA Negeri</td>
					                    <td align="right"><span class="pd_rombel_sma_negeri"></span></td>
					                    <td align="right"><span class="pd_rombel_sma_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>PD SMA Swasta</td>
					                    <td align="right"><span class="pd_rombel_sma_swasta"></span></td>
					                    <td align="right"><span class="pd_rombel_sma_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>
					        
					        <hr>
					        <b>SMK</b>
					        <table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>PD SMK Negeri</td>
					                    <td align="right"><span class="pd_rombel_smk_negeri"></span></td>
					                    <td align="right"><span class="pd_rombel_smk_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>PD SMK Swasta</td>
					                    <td align="right"><span class="pd_rombel_smk_swasta"></span></td>
					                    <td align="right"><span class="pd_rombel_smk_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>

					        <hr>
					        <b>SMLB</b>
					        <table class="table table-striped table-hover ">
				                <thead>
				                	<tr align="right">
				                		<td style="width:70%;text-align:center"></td>
				                		<td style="width:20%;text-align:right"><b>Jumlah</b></td>
				                		<td style="width:10%;text-align:right"><b>%</b></td>
				                	</tr>	
				                </thead>
				                <tbody>
				                	<tr>
					                    <td>PD SMLB Negeri</td>
					                    <td align="right"><span class="pd_rombel_smlb_negeri"></span></td>
					                    <td align="right"><span class="pd_rombel_smlb_negeri_persen"></span></td>
					                </tr>
					                <tr>
					                    <td>PD SMLB Swasta</td>
					                    <td align="right"><span class="pd_rombel_smlb_swasta"></span></td>
					                    <td align="right"><span class="pd_rombel_smlb_swasta_persen"></span></td>
					                </tr>
					               				                
					            </body>
					        </table>
					        <hr>
						    <a href="{{konektor}}laman/rekappdperstatussekolah" class="btn btn-default btn-lg btn-block">Detail</a>
							<hr>
							<i style="font-size:14px">Peserta didik yang masuk dalam penghitungan rekap adalah peserta didik yang telah dimasukkan ke dalam rombongan belajar di semester ini</i>
				    	</div>
				    	<div class="col_half_right">
				    		
				    		<div class="col_half_right" style="text-align:center">
				    			<b>PD SMA</b>
				    			<div id="chartPiePdStatusSma">		
									<svg style="height:320px;width:100%"></svg>
								</div>

								<b>PD SMLB</b>
				    			<div id="chartPiePdStatusSmlb">		
									<svg></svg>
								</div>
				    		</div>
				    		<div class="col_half_left" style="text-align:center">
				    			<b>PD Total</b>
				    			<div id="chartPiePdStatusTotal">		
									<svg></svg>
								</div>

								<b>PD SMK</b>
				    			<div id="chartPiePdStatusSmk">		
									<svg></svg>
								</div>

				    		</div>
				    		<div class="clear"></div>

				    		<div id="chartBarPdStatusTotal">		
								<svg></svg>
							</div>
				    	</div>
				    	<div class="clear"></div>

				    	<hr>

				    </div>
				</div>
	        </div>
	    </div>	

    </div>
</div>
<input type="hidden" value="{{konektor}}" class="konektor">
<style type="text/css">
table{
	font-size:15px;
}

</style>

<script src="{{konektor}}assets/nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/src/models/legend.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pie.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pieChart.js"></script>
<script src="{{konektor}}assets/nvd3/src/utils.js"></script>
<script type="text/javascript" src="{{konektor}}assets/js/modules/rekapDapodikPesertaDidik.js"></script>