<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">

		<ul class="breadcrumb">
            <li><a href="../../">Beranda</a></li>
            <li class="rekap">Rekapitulasi Data Pokok</li>
            <li class="rekap">Peserta Didik</li>
            <li class="rekap"><a href="../rekappdnasional">Pemetaan Rombel Nasional</a></li>
            <li class="active nama_propinsi">...</li>
        </ul>

        <h1 id="navbar"><span class='icon'>&#61469</span> <span class="judul_utama">Rekapitulasi Jumlah Peserta Didik Berdasarkan Pemetaan Rombel</span></h1>
        <br>
		<div class="col_half_left">
			<h4><span class="nama_propinsi"></span></h4>
			<h4 class="semester_terakhir">Semester Ganjil Tahun Ajaran 2014/2015</h4>
		</div>
      	<div class="form-group col_half_right" >
	      	<label for="select" class="col-lg-4 control-label" style="padding-top:10px;font-size:14px;text-align:right"><span class='icon'>&#61555</span> Ganti Semester: </label>
	      	<div class="col-lg-8">
		    	<select class="form-control" id="selectSemester">
		      		<option>1</option>
		    	</select>
	    	</div>
    	</div>
    	<div class="clear"></div>
		<hr>
		<div class="loading_profil" style="font-size:18px;color:#434343;width:100%;height:100%;text-align:center;background:white;">
			<img src="../../assets/img/loading8.gif" width="10%"/><br>
			Memuat data  ...
		</div>
		<div class="tabel_rekap"></div>

	</div>
</div>
<input type="hidden" value="{{konektor}}" class="konektor">
<input type="hidden" value="{{kode_wilayah}}" class="kode_wilayah">
<script type="text/javascript" src="{{konektor}}assets/js/modules/rekapPdKabkota.js"></script>