<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">

		<ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li class="rekap">Rekapitulasi Data Pokok </li>
        </ul>

        	<h2>Tahun Ajaran 2014/2015 Semester Ganjil</h2>

        	<div class="panel panel-default">
			 	<div class="panel-body">
			    	<h2>Sekolah</h2>

			    	<div class="col_half_left">
			    		
			    		<table class="table table-striped table-hover ">
			                <tbody>
			                	<tr>
				                    <td>Jumlah SMA</td>
				                    <td align="right"><span class="sekolah_sma"></span></td>
				                </tr>
				                <tr>
				                    <td>Jumlah SMK</td>
				                    <td align="right"><span class="sekolah_smk"></span></td>
				                </tr>
				               	<tr>
				                    <td>Jumlah SMLB</td>
				                    <td align="right"><span class="sekolah_smlb"></span></td>
				                </tr>
				                <tr>
				                    <td><b>Jumlah Total Sekolah</b></td>
				                    <td align="right"><b><span class="sekolah_total"></span></b></td>
				                </tr>
				                
				            </body>
				        </table>
				        <hr>
				        <a href="{{konektor}}laman/rekapdapodik/sekolah" class="btn btn-primary btn-lg btn-block">Detail Rekap Sekolah</a>
						<hr>
					</div>
					<div class="col_half_right">
						<div class="col_half_left">
							<div id="chartPersentaseSekolahNasional">		
								<svg></svg>
							</div>
						</div>
						<div class="col_half_right">
							<div id="chartBaselineSekolahNasional">		
								<svg></svg>
							</div>
						</div>
						<div class="clear"></div>
						
					</div>
        			<div class="clear"></div>

				</div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-body">
			    <h2>Peserta Didik</h2>

			    <div class="col_half_left">
		    		
		    		<table class="table table-striped table-hover ">
		                <tbody>
		                	<tr>
			                    <td>Jumlah Peserta Didik SMA</td>
			                    <td align="right"><span class="pd_sma"></span></td>
			                </tr>
			                <tr>
			                    <td>Jumlah Peserta Didik SMK</td>
			                    <td align="right"><span class="pd_smk"></span></td>
			                </tr>
			               	<tr>
			                    <td>Jumlah Peserta Didik SMLB</td>
			                    <td align="right"><span class="pd_smlb"></span></td>
			                </tr>
			                <tr>
			                    <td><b>Jumlah Total Peserta Didik</b></td>
			                    <td align="right"><b><span class="pd_total"></span></b></td>
			                </tr>
			                
			            </tbody>
			        </table>
			        
			        <hr>
				    <a href="{{konektor}}laman/rekapdapodik/pesertadidik" class="btn btn-primary btn-lg btn-block">Detail Rekap Peserta Didik</a>
					<hr>
					<i style="font-size:14px">Peserta didik yang masuk dalam penghitungan rekap adalah peserta didik yang telah dimasukkan ke dalam rombongan belajar di semester ini</i>

				</div>
				<div class="col_half_right">
					<div class="col_half_left">
						<div id="chartPersentasePdNasional">		
						<svg></svg>
					</div>
					</div>
					<div class="col_half_right">
						<div id="chartBaselinePdNasional">		
						<svg></svg>
					</div>
					</div>
					<div class="clear"></div>
					
				</div>
    			<div class="clear"></div>

			  </div>
			</div>

        
        

        	<div class="panel panel-default">
			  	<div class="panel-body">
			    	<h2>PTK</h2>

			    	<div class="col_half_left">
			    		<table class="table table-striped table-hover ">
			                <tbody>
			                	<tr>
				                    <td>Jumlah PTK SMA</td>
				                    <td align="right"><span class="ptk_sma"></span></td>
				                </tr>
				                <tr>
				                    <td>Jumlah PTK SMK</td>
				                    <td align="right"><span class="ptk_smk"></span></td>
				                </tr>
				               	<tr>
				                    <td>Jumlah PTK SMLB</td>
				                    <td align="right"><span class="ptk_smlb"></span></td>
				                </tr>
				                <tr>
				                    <td><b>Jumlah Total PTK</b></td>
				                    <td align="right"><b><span class="ptk_total"></span></b></td>
				                </tr>
				                
				            </body>
				        </table>

				        <hr>
					    <a href="#" class="btn btn-primary btn-lg btn-block disabled">Detail Rekap PTK</a>
						<hr>
						<i style="font-size:14px">PTK yang masuk dalam penghitungan rekap adalah PTK yang sudah mendapat penugasan di tahun ajaran ini</i>
					</div>
					<div class="col_half_right">
						<div class="col_half_left">
							<div id="chartPersentasePtkNasional">		
								<svg></svg>
							</div>
						</div>
						<div class="col_half_right">
							<div id="chartBaselinePtkNasional">		
								<svg></svg>
							</div>
						</div>
						<div class="clear"></div>
						
					</div>
        			<div class="clear"></div>
			  	</div>
			</div>

        

	</div>
</div>
<input type="hidden" value="{{konektor}}" class="konektor">

<style type="text/css">
table{
	font-size:15px;
}

#chartPersentaseSekolahNasional,
#chartPersentasePdNasional,
#chartPersentasePtkNasional,
#chartBaselineSekolahNasional,
#chartBaselinePtkNasional,
#chartBaselinePdNasional svg{
	height:300px;
}
</style>

<script src="{{konektor}}assets/nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="{{konektor}}assets/nvd3/src/models/legend.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pie.js"></script>
<script src="{{konektor}}assets/nvd3/src/models/pieChart.js"></script>
<script src="{{konektor}}assets/nvd3/src/utils.js"></script>
<script type="text/javascript" src="{{konektor}}assets/js/modules/rekapDapodik.js"></script>
