<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
        <ul class="breadcrumb">
            <li><a href="../">Beranda</a></li>
            <li class="active">Statistik Grafik</li>
        </ul>
	        	
	        	<div class="col_half_left">
		    		<div class="panel panel-primary">
						<div class="panel-heading">
						    Progres Pengiriman Nasional
						</div>
					    <div class="panel-body">
					    	<div id="chart1">
			            		
			            		<svg></svg>
			            	</div>
						</div>
					</div>
		    	</div>
		    	<div class="col_half_right">
		    		<div class="panel panel-primary chart_kecil">
						<div class="panel-heading" style="font-size:14px">
						    Pengiriman SMK
						</div>
					    <div class="panel-body">
					    	<div id="chart2">
			            		
			            		<svg></svg>
			            	</div>
						</div>
					</div>
			    	
			    	<div class="panel panel-primary chart_kecil">
						<div class="panel-heading" style="font-size:14px">
						    Pengiriman SMLB
						</div>
					    <div class="panel-body">
					    	<div id="chart3">
			            		
			            		<svg></svg>
			            	</div>
						</div>
					</div>
			    	<div class="panel panel-primary chart_kecil_ujung">
						<div class="panel-heading" style="font-size:14px">
						   Pengiriman SMA
						</div>
					    <div class="panel-body">
					    	<div id="chart4">
			            		
			            		<svg></svg>
			            	</div>
						</div>
					</div>
					<div class="clear"></div>

					<div class="panel panel-primary">
						<div class="panel-heading" style="font-size:14px">
						    Jumlah Sinkronisasi Per Hari
						</div>
					    <div class="panel-body">
					    	<div id="chartLine">		
								<svg></svg>
							</div>
					    </div>
					</div>
					
		    	</div>
		    	<div class="clear"></div>
			    
				<hr>
				<div class="panel panel-primary">
					<div class="panel-heading" style="font-size:14px">
					    Progress Pengiriman Per Propinsi
					</div>
				    <div class="panel-body">
						<div id="chartProp">
				            <svg></svg>
				        </div>
				    </div>
				</div>

	        	
	        </div>
	    </div>

        <script src="{{konektor}}assets/nvd3/lib/d3.v3.js" type="text/javascript"></script>
	    <script src="{{konektor}}assets/nvd3/nv.d3.min.js" type="text/javascript"></script>
	    <script src="{{konektor}}assets/nvd3/src/models/legend.js"></script>
	    <script src="{{konektor}}assets/nvd3/src/models/pie.js"></script>
	    <script src="{{konektor}}assets/nvd3/src/models/pieChart.js"></script>
	    <script src="{{konektor}}assets/nvd3/src/utils.js"></script>
	    <script type="text/javascript">


	        function getTotalCount(datas) {
	          
	          var sum = 0;
	          var length = datas.length;
	          for (var i = 0; i < length; i++) {
	            sum += datas[i].y;
	            
	          }
	          
	          return sum;
	        };

	        d3.json('{{konektor}}report/chart/jumlahSinkron', function(json) {

				var chart;
				  nv.addGraph(function() {
				      chart = nv.models.multiBarChart();
				        // .barColor(d3.scale.category20().range());

				      chart.multibar
				        .hideable(true);

				      chart.reduceXTicks(true).staggerLabels(false);

				      chart.xAxis
				          .showMaxMin(true)
				          //.rotateLabels(-45);
				          ;
				         // .tickFormat(d3.format(',f'));

				      chart.yAxis
				          .tickFormat(d3.format('.'));

				     
				      d3.select('#chartLine svg')
				          .datum(json)
				        .transition().duration(500).call(chart);

				      nv.utils.windowResize(chart.update);

				      // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

				      return chart;
				  });

	        });

	        d3.json('{{konektor}}report/chart/pengirimanNasional', function(json) {
	          
	            var countData = getTotalCount(json);
	            nv.addGraph(function() {
	                var width = 600,
	                    height = 500
	                ;

	                var chart = nv.models.pieChart()
	                    .x(function(d) { return d.key })
	                    .y(function(d) { return d.y })
	                    .showLabels(true)
	                    .labelType("percent")
	                    .donut(false)
	                    .values(function(d) {
	                      
	                      return d;
	                    })
	                    .tooltipContent(function(key, y, e, graph) {
				            var re = /,/gi;
				            var re2 = /\.00/gi;
				            // replace .00
				            var x = y.replace(re2, "");
				            // replace , to .
				            var x = x.replace(re, "");
				            // console.log(Math.round((x/countData)*100));
				            var percent = Math.round((x/countData)*100);
				            return '<h2 class="btn-sm"><strong>' + key + '</strong></h2>' +
				                   '<p>' +  x + ' <strong> (' + percent + '%)</strong>' + '</p>'
				          })
				          .values(function(d) {
				            console.log(d);
				            return d;
				          })
	                    //.color(d3.scale.category10().range())
	                    .color(['#0597F2', '#aec7e8'])
	                ;

	                d3.select("#chart1 svg")
	                  .datum(json)
	                  .transition().duration(500)
	                  .attr('width', width)
	                  .attr('height', height)
	                  .call(chart)
	                ;
	                nv.utils.windowResize(chart.update);

	                return chart;
	            });
	          });

		d3.json('{{konektor}}report/chart/pengirimanSmk', function(json) {
	          
	            var countData = getTotalCount(json);
	            nv.addGraph(function() {
	                var width = 600,
	                    height = 500
	                ;

	                var chart = nv.models.pieChart()
	                    .x(function(d) { return d.key })
	                    .y(function(d) { return d.y })
	                    .showLabels(true)
	                    .labelType("percent")
	                    .donut(true)
	                    .showLegend(true)
	                    .tooltipContent(function(key, y, e, graph) {
				            var re = /,/gi;
				            var re2 = /\.00/gi;
				            // replace .00
				            var x = y.replace(re2, "");
				            // replace , to .
				            var x = x.replace(re, "");
				            // console.log(Math.round((x/countData)*100));
				            var percent = Math.round((x/countData)*100);
				            return '<h2 class="btn-sm"><strong>' + key + '</strong></h2>' +
				                   '<p>' +  x + ' <strong> (' + percent + '%)</strong>' + '</p>'
				          })
	                    .values(function(d) {
	                      
	                      return d;
	                    })
	                    //.color(d3.scale.category10().range())
	                    .color(['#0597F2', '#aec7e8'])
	                ;

	                d3.select("#chart2 svg")
	                  .datum(json)
	                  .transition().duration(500)
	                  
	                  .call(chart)
	                ;
	                nv.utils.windowResize(chart.update);

	                return chart;
	            });
	          });

		d3.json('{{konektor}}report/chart/pengirimanSmlb', function(json) {
	          
	            var countData = getTotalCount(json);
	            nv.addGraph(function() {
	                var width = 600,
	                    height = 500
	                ;

	                var chart = nv.models.pieChart()
	                    .x(function(d) { return d.key })
	                    .y(function(d) { return d.y })
	                    .showLabels(true)
	                    .labelType("percent")
	                    .donut(true)
	                    .showLegend(true)
	                    .tooltipContent(function(key, y, e, graph) {
				            var re = /,/gi;
				            var re2 = /\.00/gi;
				            // replace .00
				            var x = y.replace(re2, "");
				            // replace , to .
				            var x = x.replace(re, "");
				            // console.log(Math.round((x/countData)*100));
				            var percent = Math.round((x/countData)*100);
				            return '<h2 class="btn-sm"><strong>' + key + '</strong></h2>' +
				                   '<p>' +  x + ' <strong> (' + percent + '%)</strong>' + '</p>'
				          })
	                    .values(function(d) {
	                      
	                      return d;
	                    })
	                    //.color(d3.scale.category10().range())
	                    .color(['#0597F2', '#aec7e8'])
	                ;

	                d3.select("#chart3 svg")
	                  .datum(json)
	                  .transition().duration(500)
	                  
	                  .call(chart)
	                ;
	                nv.utils.windowResize(chart.update);

	                return chart;
	            });
	          });

			d3.json('{{konektor}}report/chart/pengirimanSma', function(json) {
	          
	            var countData = getTotalCount(json);
	            nv.addGraph(function() {
	                var width = 600,
	                    height = 500
	                ;

	                var chart = nv.models.pieChart()
	                    .x(function(d) { return d.key })
	                    .y(function(d) { return d.y })
	                    .showLabels(true)
	                    .labelType("percent")
	                    .donut(true)
						.showLegend(true)
						.tooltipContent(function(key, y, e, graph) {
				            var re = /,/gi;
				            var re2 = /\.00/gi;
				            // replace .00
				            var x = y.replace(re2, "");
				            // replace , to .
				            var x = x.replace(re, "");
				            // console.log(Math.round((x/countData)*100));
				            var percent = Math.round((x/countData)*100);
				            return '<h2 class="btn-sm"><strong>' + key + '</strong></h2>' +
				                   '<p>' +  x + ' <strong> (' + percent + '%)</strong>' + '</p>'
				          })
	                    .values(function(d) {
	                      
	                      return d;
	                    })
	                    //.color(d3.scale.category10().range())
	                    .color(['#0597F2', '#aec7e8'])
	                ;

	                d3.select("#chart4 svg")
	                  .datum(json)
	                  .transition().duration(500)
	                  
	                  .call(chart)
	                ;
	                nv.utils.windowResize(chart.update);

	                return chart;
	            });
	          });

			d3.json('{{konektor}}report/chart/rekapPropinsi', function(json) {

	            var chart;
	              nv.addGraph(function() {
	                  chart = nv.models.multiBarChart()
	                  .showControls(false)
	                  //.barColor(d3.scale.category10().range())
	                  ;
	                    // ;

	                  chart.multibar
	                    .hideable(true);

	                  chart.reduceXTicks(false).staggerLabels(false);

	                  chart.xAxis
	                      .showMaxMin(false)
	                      .rotateLabels(-40);
	                      ;
	                     // .tickFormat(d3.format(',f'));

	                  chart.yAxis
	                      .tickFormat(d3.format('.'));

	                chart.tooltipContent(function(key, x, y, e, graph) {
	                    
	                    return '<h3 class="btn-sm"><strong>' + key + '</strong></h3>' +
	                           '<p>' +  y + '% di ' + x + '</p>'
	                  });

	                 
	                  d3.select('#chartProp svg')
	                      .datum(json)
	                    .transition().duration(500).call(chart);

	                  nv.utils.windowResize(chart.update);

	                  // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

	                  return chart;
	              });

	        });
		

	    </script>
	    <style type="text/css">
	      #chart1{
	        min-height: 100px;
	        height:400px;
	        border:0px solid #ccc;
	        width: 100%;
	        text-align: center;
	      }
	      #chart2,#chart3,#chart4{
	      	min-height: 100px;
	       	margin-bottom: 0px;
	        border:0px solid #ccc;
	        width: 100%;
	        height:220px;
	        text-align: center;
	      }

	      #chartLine{
	      	width: 100%;
	      	min-height:300px;
	      	height: 300px;
	      	border:1px solid #ccc;
	      }

	      #chartProp{
	        width: 100%;
	        min-height:300px;
	        height: 300px;
	        border:1px solid #ccc;
	        padding-bottom: 0px;
	      }

	      #chartPdNasional{
	        width: 100%;
	        min-height:300px;
	        height: 300px;
	        border:1px solid #ccc;
	        padding-bottom: 0px;
	      }

	    </style>
		
    </div>
</div>