<div style="background:white">
	<div class="inner" style="border:0px solid #ccc;width:98%;margin:auto">
		<h1 id="navbar">Tentang Dapodikmen</h1>

		
			<div style="padding-top:40px" class="tentang_str">

				
			</div>

	</div>
</div>
<script type="text/javascript">
	
	$.ajax({
        type: "GET",
        url: "{{konektor}}getTentang",
        success: function(isi){

        	var obj = jQuery.parseJSON(isi);
        
        	$('.tentang_str').fadeIn('fast','',function(){
        		$('.tentang_str').html(obj.ISI);
        	});
        },
        error: function(){
        	$('.tentang_str').fadeIn('fast','',function(){
        		$('.tentang_str').html('Ada kesalahan dalam pemuatan data');
        	});
        }
    });

</script>