<div style="width:100%;margin:auto;background:transparent;color:#434343;top:0;left:0px;height:100%">
	<div style="font-size:40px;font-family:Arial;margin:auto;width:100%;text-align:center">
		Oooopps...<br>
		Kayanya ada yang nyasar nih<br>
	</div>
	<br>
	<br>
	<div style="font-size:150px;font-family:Arial;margin:auto;width:100%;text-align:center">
		ლ(ಠ_ಠლ)
	</div>
	<br>
	<br>
	<br>
	<div style="font-size:30px;font-family:Arial;margin:auto;width:100%;text-align:center">
		Tenang aja. Nggak usah panik. Balik lagi aja ke halaman utama lewat <a href="http://dapo.dikmen.kemdikbud.go.id">sini</a>
	</div>
</div>