﻿<!DOCTYPE html>
<html>
<head>
<title>{{judul}} - Dapodik PAUD-DIKMAS -</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{konektor}}assets/img/logo.png">

{% block css %}
<!-- <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'> -->
<link rel="stylesheet" type="text/css" href="{{konektor}}assets/css/demo.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}assets/css/bootstrap.min.united.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}assets/js/data_tables/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}assets/js/countdown/jquery.countdown.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}assets/nvd3/src/nv.d3.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}assets/css/jquery.marquee.css">
{% endblock %}

<script src="{{konektor}}assets/js/jquery.js"></script>

<script src="{{konektor}}assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{konektor}}assets/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="{{konektor}}assets/js/dataTable.js" type="text/javascript"></script>
<script src="{{konektor}}assets/js/jquery.smint2.js" type="text/javascript"></script>
<script src="{{konektor}}assets/js/jquery.marquee.js" type="text/javascript"></script>
<!-- <script src="{{konektor}}assets/js/newsTicker.js" type="text/javascript"></script> -->
<script src="{{konektor}}assets/js/countdown/jquery.plugin.js"></script>
<script src="{{konektor}}assets/js/countdown/jquery.countdown.js"></script>
<script src="{{konektor}}assets/js/countdown/jquery.countdown-id.js"></script>

<!--link rel="stylesheet" type="text/css" href="{{konektor}}assets/css/leaflet.css" /-->
<!--link rel="stylesheet" type="text/css" href="{{konektor}}assets/css/reset.css" /-->
<!--link rel="stylesheet" type="text/css" href="{{konektor}}assets/css/maps.css" /-->

</head>

<Body>
  <!-- start of Header Paling Atas -->
  <div class="header-background margin-ovd">
    <div class="wrap no-border">
      <a href="{{konektor}}">
          <div id="header_logo">
              <img src="{{konektor}}assets/img/logo.png" width="80px" />
          </div>
          <div id="header_text">
              <div class="bh1" style="font-weight:bold">Data Pokok PAUD-Dikmas</div>
              <div class="bh2">Direktorat Jenderal Pendidikan Anak Usia Dini, Nonformal dan Informal</div>
              <div class="bh2">Kementerian Pendidikan dan Kebudayaan</div>
          </div>
      </a>
      <div class="header_acc">&nbsp;</div>
      <div class="header_acc2">&nbsp;</div>
      <!-- end of Header Paling Atas -->
      <br class="clear">
    </div>
  </div>

    <!-- Start of Navbar Paling Atas -->
            <!-- <div class="navbar navbar-default menu-header navbar-inverse" style="background:#ffbd19;color:#434343;border-color:#ffbd19"> -->
            <div class="navbar navbar-default menu-header" style="border-radius:0px;z-index:12">
              <div class="wrap no-border">
              <div class="navbar-header">
                
                  <ul class="nav navbar-nav">
                    <li id="desktop"><a href="{{konektor}}"><span class='icon yellow'>&#61461</span> Beranda</a></li>
                    <li id="desktop"><a href="{{laman}}download"><span class='icon yellow'>&#61465</span> Download</a></li>
                    <li id="desktop" class="dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class='icon yellow'>&#61668</span> Data Pokok <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu">
                        
                        <li><a href="{{laman}}progres"><span class='icon'>&#61451</span> Monitoring Pengiriman</a></li>
                        <li><a href="{{laman}}datapokok"><span class='icon'>&#61451</span> Data Pokok Pendidikan</a></li>
                        
                      </ul>
                    </li>
                    <li id="desktop"><a href="#" target="_blank"><span class='icon yellow'>&#61720</span> Helpdesk</a></li>
                    <li id="desktop"><a href="{{laman}}tentang"><span class='icon yellow'>&#61484</span> Tentang</a></li>
                    
                    <li class="dropdown" id="mobile">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        
                          <li><a href="{{konektor}}"><span class='icon'>&#61461</span> Beranda</a></li>
                          <li class="divider"></li>
                          <li><a href="{{laman}}download"><span class='icon'>&#61465</span> Download</a></li>
                          <li class="divider"></li>
                          <li class="divider"></li>
                          <li><a href="{{laman}}progres"><span class='icon'>&#61451 </span> Monitoring Pengiriman</a></li>
                          <li><a href="{{laman}}datapokok"><span class='icon'>&#61451</span> Data Pokok Pendidikan</a></li>
                          <li class="divider"></li>
                          <li><a href="http://helpdesk.dikmen.kemdikbud.go.id" target="_blank"><span class='icon'>&#61720</span> Helpdesk</a></li>
                          <li><a href="{{laman}}tentang"><span class='icon'>&#61484</span> Tentang</a></li>
                          
                      </ul>
                    </li>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <!-- end of Navbar Paling Atas -->


   <div class="section body_utama">
      <div class="wrap" style="margin-bottom:30px">
          <div class="inner">

            <div class="well well-sm">
                <ul id="marquee" class="marquee">
                  <li>
                    &nbsp;<span class='icon'>&#61515</span>&nbsp;&nbsp;Dengan semangat baru dan kebersamaan yang melibatkan seluruh stakeholder pendataan, Kita tuntaskan pencapaian target Dapodik PAUD_DIKMAS tahun 2015 mencapai 100%. Salam SATU DATA DAPODIK PAUD-DIKMAS!
                  </li>
                </ul>
            </div>
            <!-- <div class="well well-sm">
              <div style="width:70%;margin:auto;text-align:center;margin-bottom:10px;font-size:20px;color:#434343">Menuju Penyaluran BOS Tahap 2</div>
              <div id="defaultCountdown" style="width:60%;margin:auto;height:80px;margin-bottom:10px;font-size:20px"></div>
            </div> -->
              <!-- <ul class="newsticker">
                  <li><span class='icon'>&#61515</span> Kepada sekolah seluruh Indonesia diwajibkan melakukan pendataan melalui aplikasi dapodikmen</li>
                  
              </ul> -->
              <!-- <span class="newsticker-close"><span class='icon'>&#61536</span> </span> -->
              <!-- <div class="clear"></div> -->
            
            {% if p is defined%}

               {% if p == 'beranda' %}

                  {% include 'templates/main.twig' %}

               {% elseif p == 'download' %}

                  {% include 'templates/download.twig' %}

              {% elseif p == 'dokumentasi' %}

                  {% include 'templates/dokumentasi.twig' %}
              
              {% elseif p == 'faq' %}

                  {% include 'templates/faq.twig' %}

              {% elseif p == 'helpdesk' %}

                  {% include 'templates/helpdesk.twig' %}

              {% elseif p == 'tentang' %}

                  {% include 'templates/tentang.twig' %}

              {% elseif p == 'feedback' %}

                  {% include 'templates/feedback.twig' %}

              {% elseif p == 'progres' %}

                  {% include 'templates/progress.twig' %}

              {% elseif p == 'detailprop' %}

                  {% include 'templates/detailprop.twig' %}

              {% elseif p == 'detailkab' %}

                  {% include 'templates/detailkab.twig' %}

              {% elseif p == 'detailkec' %}

                  {% include 'templates/detailkec.twig' %}

              {% elseif p == 'detailSekolah' %}

                  {% include 'templates/detailSekolah.twig' %}

              {% elseif p == 'detailberita' %}

                  {% include 'templates/detailBerita.twig' %}

              {% elseif p == 'peta' %}

                  {% include 'templates/peta.twig' %}

              {% elseif p == 'berita' %}

                  {% include 'templates/berita.twig' %}

              {% elseif p == 'peringkatKabupaten' %}

                  {% include 'templates/peringkatKabupaten.twig' %}
              
              {% elseif p == 'datapokok' %}

                  {% include 'templates/datapokok.twig' %}

              {% elseif p == 'statistikgrafik' %}

                  {% include 'templates/statistikGrafik.twig' %} 

              {% elseif p == 'grafikrekap' %}

                  {% include 'templates/grafikRekap.twig' %}

              {% elseif p == 'datasekolah' %}

                  {% include 'templates/datasekolah.twig' %}

              {% elseif p == 'detailptk' %}

                  {% include 'templates/detailPtk.twig' %}

              {% elseif p == 'rekappdnasional' %}

                  {% include 'templates/rekapPdNasional.twig' %}
              
              {% elseif p == 'rekappdpropinsi' %}

                  {% include 'templates/rekapPdPropinsi.twig' %}

              {% elseif p == 'rekappdkabkota' %}

                  {% include 'templates/rekapPdKabkota.twig' %}

              {% elseif p == 'rekapdapodik' %}

                  {% include 'templates/rekapDapodik.twig' %}

              {% elseif p == 'pesertadidik' %}

                  {% include 'templates/rekapDapodikPesertaDidik.twig' %}

              {% elseif p == 'sekolah' %}

                  {% include 'templates/rekapDapodikSekolah.twig' %}

              {% elseif p == 'rekappdperstatussekolah' %}

                  {% include 'templates/rekapDapodikPesertaDidikStatus.twig' %}
              
              {% elseif p == 'cekdataun' %}

                  {% include 'templates/cekdataun.twig' %}
              
              {% elseif p == 'cekdataun_propinsi' %}

                  {% include 'templates/cekdataun_propinsi.twig' %}
              
              {% elseif p == 'cekdataun_kabupaten' %}

                  {% include 'templates/cekdataun_kabupaten.twig' %}
              
              {% elseif p == 'cekdataun_kecamatan' %}

                  {% include 'templates/cekdataun_kecamatan.twig' %}

              {% elseif p == 'lihatSekolah' %}

                  {% include 'templates/lihatSekolah.twig' %}

              {% else %}

                  {% include 'templates/404.twig' %}

              {% endif%}

            {% else %}
              
               {% include 'templates/main.twig' %}   

            {% endif%}

         </div>
      </div>

      {% include 'templates/footer.twig' %}

   </div>
   <div id="mask"></div>
    <div id="panel">
      <div class="window inactive">
            <div class="caption">
                <!--div class="btn-close" id="panel-close"></div-->
            </div>
            <!--div class="inner" style="border:0px solid #ccc;width:98%;margin:auto;padding:10px"-->
              <div class="content" id="window-content">
                 
              </div>
            <!--/div-->
        </div>
    </div>
    <div class="goup fixed">
      <span class="icon">&#61538</span>
    </div>
    
</Body>
{% block js %}
<script type="text/javascript">
  $(function () {
      var austDay = new Date();
      austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
      console.log(austDay);
      // austDay = '2014-12-31 23:59:59';
      $('#defaultCountdown').countdown({until: new Date(2015, 3-1, 1), format: 'odHMS'});
      $('#year').text(austDay.getFullYear());
  });
</script>

{% endblock %}
<script type="text/javascript">

$(function(){
  $(window).scroll(function(){
    //var aTop = $('.navbar-nav').height();
    var aTop = $('.menu-header').offset().top;
    var scrolltop = $(this).scrollTop();

    if(scrolltop >= aTop){
      $('.goup').fadeIn('fast');
      
      //$('.goup').html(scrolltop + " - " + aTop);
    }else{
      $('.goup').fadeOut('fast');
      //$('.navbar').css({ 'position': 'relative', 'top':aTop }).removeClass('fxd');
    }
  });

  $('.goup').click(function (e){
      $('html, body').animate({scrollTop: '0px'}, 800);
  });
});

// $(document).ready( function() {
    $("#marquee").marquee({
        yScroll: "top"              // the position of the marquee initially scroll (can
                                    // be either "top" or "bottom")
      , showSpeed: 850              // the speed of to animate the initial dropdown of
                                    // the messages
      , scrollSpeed: 12             // the speed of the scrolling (keep number low)
      , pauseSpeed: 5000            // the time to wait before showing the next message
                                    // or scrolling current message
      , pauseOnHover: true          // determine if we should pause on mouse hover
      , loop: -1                    // determine how many times to loop through the
                                    // marquees (#'s < 0 = infinite)
      , fxEasingShow: "swing"       // the animition easing to use when showing a new
                                    // marquee
      , fxEasingScroll: "linear"    // the animition easing to use when showing a new
                                    // marquee

      // define the class statements
      , cssShowing: "marquee-showing"

      // event handlers
      , init: null                // callback that occurs when a marquee is initialized
      , beforeshow: null          // callback that occurs before message starts
                                  // scrolling on screen
      , show: null                // callback that occurs when a new marquee message is
                                  // displayed
      , aftershow: null           // callback that occurs after the message has scrolled
  });
// });

// $('.newsticker').newsTicker({
//     row_height: 22,
//     max_rows: 1,
//     speed: 500,
//     direction: 'down',
//     duration: 4000,
//     autostart: 1,
//     pauseOnHover: 1
// });

// $('.newsticker-close').click(function(){
//   $('.newsticker-wrap').css('left','-100%');
//   setTimeout(function(){
//     $('.newsticker-show').show();
//   },500);
  
// });
// $('.newsticker-show').click(function(){
//   $('.newsticker-wrap').css('left','0px');
//   $('.newsticker-show').hide();
// });
</script>
<script>
//   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//   ga('create', 'UA-54265168-1', 'auto');
//   ga('send', 'pageview');

</script>

</html>
<!-- KH -->