<head>
<script src="{{konektor}}assets/js/asem.js" type="text/javascript"></script>
</head>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Login manajemen Pendataan</h2>
    </div>
    <div class="panel-body form-login-panel">
      <form class="form-horizontal">
        <div class="alert alert-dismissable alert-success">
          Akses dapat menggunakan akun operator kabupaten/kota, operator propinsi atau operator sekolah
        </div>
        
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <div class="input-group">
                <span class="input-group-addon"><span class='icon'>&#61443</span></span>
                <input class="form-control" id="inputEmail" placeholder="Email"  type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <div class="input-group">
                <span class="input-group-addon"><span class='icon'>&#61572</span></span>
                <input class="form-control" id="inputPassword" placeholder="Password" type="password">
              </div>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <div class="btn btn-primary login-btn">Masuk</div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
</div>